{
  "openapi": "3.0.1",
  "info": {"title":"Latitude.sh API","version":"2023-06-01","description":"The Latitude.sh API is a RESTful API to manage your Latitude.sh account. It allows you to perform the same actions as the Latitude.sh dashboard."},
  "servers": [{"url":"https://api.latitude.sh","variables":{"latitude_api_key":{"default":"<insert your api key here>"}}}, {"url":"http://api.latitude.sh","variables":{"latitude_api_key":{"default":"<insert your api key here>"}}}],
  "tags": [{"name":"API keys"}, {"name":"Billing"}, {"name":"Elastic Ips"}, {"name":"Events"}, {"name":"Firewalls"}, {"name":"IP Addresses"}, {"name":"Kubernetes Clusters"}, {"name":"Operating Systems"}, {"name":"Plans"}, {"name":"Private Networks"}, {"name":"Projects"}, {"name":"Regions"}, {"name":"Roles"}, {"name":"SSH Keys"}, {"name":"Servers"}, {"name":"Block Storage"}, {"name":"Filesystem Storage"}, {"name":"Object Storage"}, {"name":"Tags"}, {"name":"Teams"}, {"name":"Team members"}, {"name":"Traffic"}, {"name":"User data"}, {"name":"User profile"}, {"name":"VPN Sessions"}, {"name":"Virtual machines"}],
  "paths": {
    "/auth/api_keys": {
      "get": {
        "summary": "List API keys",
        "operationId": "get-api-keys",
        "tags": ["API keys"],
        "security": [{"Bearer":[]}],
        "description": "Returns a list of all API keys.\n",
        "x-mint": {"href":"/api-reference/get-api-keys"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"tok_6VE1Wd37dXnZJ","type":"api_keys","attributes":{"name":"Dor Daidelos","token_last_slice":"2daaa","api_version":"2023-06-01","read_only":false,"allowed_ips":[],"created_at":"2026-01-14T15:56:29+00:00","updated_at":"2026-01-14T14:56:29+00:00","last_used_at":null,"user":{"id":"user_Wel4PnEAmauQYZz3Vz83CkyV2BW","email":"beckie.prosacco@willms.test"}}}],"meta":{}}}},"schema":{"$ref":"#/components/schemas/api_keys"}}}}},
        "x-speakeasy-group": "apiKeys",
        "x-speakeasy-name-override": "list"
      },
      "post": {
        "summary": "Create API key",
        "operationId": "post-api-key",
        "tags": ["API keys"],
        "security": [{"Bearer":[]}],
        "parameters": [],
        "description": "Create a new API Key that is tied to the current user account. The created API key is only listed ONCE upon creation. It can however be regenerated or deleted.\n",
        "x-mint": {"href":"/api-reference/post-api-key"},
        "responses": {"201":{"description":"Created","content":{"application/vnd.api+json":{"examples":{"Created":{"value":{"data":{"id":"tok_ez2A3DVldnawP","type":"api_keys","attributes":{"name":"App Token","token":"54ebfcfa2ad7f9fe0d4e081306554174d063","token_last_slice":"4d063","api_version":"2023-06-01","read_only":false,"allowed_ips":[],"created_at":"2026-01-14T15:56:29+00:00","updated_at":"2026-01-14T15:56:29+00:00","last_used_at":null,"user":{"id":"user_pVkpyK2aoVUlax6Zzx1pfrGe4wr","email":"nathanael@bartoletti-streich.test"}}},"meta":{}}}},"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/api_key"}}}}}}},
        "requestBody": {"content":{"application/json":{"schema":{"$ref":"#/components/schemas/create_api_key"},"examples":{"Created":{"summary":"Created","value":{"data":{"type":"api_keys","attributes":{"name":"App Token"}}}}}},"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/create_api_key"},"examples":{"Created":{"summary":"Created","value":{"data":{"type":"api_keys","attributes":{"name":"App Token"}}}}}}},"required":true},
        "x-speakeasy-group": "apiKeys",
        "x-speakeasy-name-override": "create"
      }
    },
    "/auth/api_keys/{api_key_id}": {
      "put": {
        "summary": "Rotate API key",
        "operationId": "rotate-api-key",
        "tags": ["API keys"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"api_key_id","in":"path","required":true,"examples":{"Success":{"value":"tok_x1ZJrdx5qg4LV"}},"schema":{"type":"string"}}],
        "description": "Rotate an existing API Key, generating a new token. This invalidates the previous key.\nUse PATCH to update settings without rotating the token.\n",
        "x-mint": {"href":"/api-reference/rotate-api-key"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":{"id":"tok_x1ZJrdx5qg4LV","type":"api_keys","attributes":{"name":"App Token","token":"aeb7b57029087fd4449a8f0fc218d1e17b4c","token_last_slice":"17b4c","api_version":"2023-06-01","read_only":false,"allowed_ips":null,"created_at":"2026-01-14T15:56:30+00:00","updated_at":"2026-01-14T15:56:30+00:00","last_used_at":null,"user":{"id":"user_3J8PY3vz8ahap5nLXYmws36rwRE","email":"arnette@kutch.test"}}},"meta":{}}}},"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/api_key"}}}}}}},
        "requestBody": {"content":{"application/json":{"schema":{"$ref":"#/components/schemas/update_api_key"},"examples":{"Success":{"summary":"Success","value":{"data":{"id":"tok_x1ZJrdx5qg4LV","type":"api_keys","attributes":{"name":"App Token"}}}}}},"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/update_api_key"},"examples":{"Success":{"summary":"Success","value":{"data":{"id":"tok_x1ZJrdx5qg4LV","type":"api_keys","attributes":{"name":"App Token"}}}}}}},"required":true},
        "x-speakeasy-group": "apiKeys",
        "x-speakeasy-name-override": "update"
      },
      "patch": {"summary":"Update API key settings","operationId":"update-api-key","tags":["API keys"],"security":[{"Bearer":[]}],"parameters":[{"name":"api_key_id","in":"path","required":true,"examples":{"Success - Update name without rotating token":{"value":"tok_lpbV0DgRq4AWz"}},"schema":{"type":"string"}}],"description":"Update API Key settings (name, read_only, allowed_ips) without rotating the token.\nUse PUT to rotate the token.\n","x-mint":{"href":"/api-reference/update-api-key"},"responses":{"200":{"description":"Success - Update name without rotating token","content":{"application/vnd.api+json":{"examples":{"Success - Update name without rotating token":{"value":{"data":{"id":"tok_lpbV0DgRq4AWz","type":"api_keys","attributes":{"name":"Updated Name","token_last_slice":"c10e6","api_version":"2023-06-01","read_only":false,"allowed_ips":null,"created_at":"2026-01-14T15:56:30+00:00","updated_at":"2026-01-14T15:56:30+00:00","last_used_at":null,"user":{"id":"user_YLMV5L9oYRFoe4Jo4l2PCGKr8bBa","email":"jaime@ullrich.example"}}},"meta":{}}}},"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/api_key"}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/update_api_key"},"examples":{"Success - Update name without rotating token":{"summary":"Success - Update name without rotating token","value":{"data":{"id":"tok_lpbV0DgRq4AWz","type":"api_keys","attributes":{"name":"Updated Name"}}}}}},"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/update_api_key"},"examples":{"Success - Update name without rotating token":{"summary":"Success - Update name without rotating token","value":{"data":{"id":"tok_lpbV0DgRq4AWz","type":"api_keys","attributes":{"name":"Updated Name"}}}}}}},"required":true}},
      "delete": {
        "summary": "Delete API key",
        "operationId": "delete-api-key",
        "tags": ["API keys"],
        "parameters": [{"name":"api_key_id","in":"path","required":true,"examples":{"Success":{"value":"tok_lQraYDPeOpjwW"}},"schema":{"type":"string"}}],
        "security": [{"Bearer":[]}],
        "description": "Delete an existing API Key. Once deleted, the API Key can no longer be used to access the API.\n",
        "x-mint": {"href":"/api-reference/delete-api-key"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"meta":{}}}}}}}},
        "x-speakeasy-group": "apiKeys",
        "x-speakeasy-name-override": "delete"
      }
    },
    "/billing/usage": {"get":{
        "summary": "Retrieve billing usage",
        "operationId": "get-billing-usage",
        "tags": ["Billing"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"filter[products][]","in":"query","schema":{"type":"array","items":{"type":"string"}},"required":false,"description":"Allows to filter the billing usage for specific products. It accepts an array of product ids.\n","examples":{"Success":{"value":["si_aslft06m","si_on0fybnq"]}}}, {"name":"filter[plan]","in":"query","required":false,"description":"Accepts a plan name and allows to filter the usage for that plan.\n","schema":{"type":"string"},"examples":{"Success":{"value":"plan.name"}}}, {"name":"filter[project]","in":"query","required":true,"examples":{"Success":{"value":"proj_r0MK4O4kDa95w"}},"schema":{"type":"string"}}],
        "description": "Returns the billing usage of a project\n",
        "x-mint": {"href":"/api-reference/get-billing-usage"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":{"id":"","type":"billing_usage","attributes":{"project":{"id":"proj_r0MK4O4kDa95w","slug":"fantastic-iron-clock","name":"Fantastic Iron Clock"},"period":{"start":"2025-12-24T15:56:32+00:00","end":"2026-01-24T15:56:32+00:00"},"available_credit_balance":123,"amount":0,"price":0,"products":[],"threshold":10000}},"meta":{}}}},"schema":{"$ref":"#/components/schemas/billing_usage"}}}}},
        "x-speakeasy-name-override": "listUsage"
      }},
    "/events": {"get":{
        "summary": "List events",
        "operationId": "get-events",
        "tags": ["Events"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"filter[author]","in":"query","required":false,"description":"The author ID or email to filter by","schema":{"type":"string"}}, {"name":"filter[project]","in":"query","required":false,"description":"The project ID to filter by","schema":{"type":"string"}}, {"name":"filter[target_name]","in":"query","schema":{"type":"array","items":{"type":"string"}},"required":false,"description":"The target type(s) of the event to filter by"}, {"name":"filter[target_id]","in":"query","required":false,"description":"The target id of the event to filter by","schema":{"type":"string"}}, {"name":"filter[action]","in":"query","required":false,"description":"The action performed in event to filter by","schema":{"type":"string"}}, {"name":"filter[created_at][gte]","in":"query","required":false,"description":"The created at greater than equal date to filter by, in ISO formatting (yyyy-MM-dd'T'HH:mm:ss)","schema":{"type":"string"}}, {"name":"filter[created_at][lte]","in":"query","required":false,"description":"The created at less than equal date to filter by, in ISO formatting (yyyy-MM-dd'T'HH:mm:ss)","schema":{"type":"string"}}, {"name":"filter[created_at]","in":"query","schema":{"type":"array","items":{"type":"string"}},"required":false,"description":"The created at between date range date1, date2 (inclusive) to filter by, in ISO formatting (yyyy-MM-dd'T'HH:mm:ss)"}, {"name":"page[size]","in":"query","schema":{"type":"integer","minimum":1,"default":20},"required":false,"description":"Number of items to return per page"}, {"name":"page[number]","in":"query","schema":{"type":"integer","minimum":1,"default":1},"required":false,"description":"Page number to return (starts at 1)"}],
        "description": "Lists actions performed by users on your account.\n",
        "x-speakeasy-pagination": {"type":"offsetLimit","inputs":[{"name":"page[number]","in":"parameters","type":"page"}, {"name":"page[size]","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},
        "x-mint": {"href":"/api-reference/get-events"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"evt_r0MK4O4kDa95w","type":"events","attributes":{"created_at":"2026-01-14T15:56:32+00:00","action":"user_data.create","target":{"id":"ud_QraYDPm5OpjwW","name":"user_data"},"project":{"id":"proj_Av9BVDavORm1W","name":"Enormous Rubber Car","slug":"enormous-rubber-car"},"team":{"id":"team_5EkwwB3BV5Uzo9EpPom8T6Zk6MjG","name":"55 Team"},"author":{"id":"user_1P7kNv94QNtKXLZWMe42hNJ5x6V","name":"Julian Kuvalis","email":"aleshia@stiedemann.test"}}}],"meta":{}}},"ServerDestroy":{"value":{"data":[{"id":"evt_8nKmP2qX9LzRy","type":"events","attributes":{"created_at":"2026-01-07T15:42:15+00:00","action":"servers.destroy","target":{"id":"sv_RLYV8DZ2D5QoE","name":"server"},"project":{"id":"proj_6059EqYkOQj8p","name":"Production Infrastructure","slug":"production-infrastructure"},"team":{"id":"team_XmP9n3K5wVH2LbjQbx8YDl5oB","name":"Engineering Team"},"author":{"id":"user_NYNl38rzNzs4KXL96apwU3WJ5oX8","name":"Jane Smith","email":"jane.smith@example.com"},"properties":{"friendly_id":"da-23-web-01","hostname":"da-23-web-01.dal.example.com","reason":"Server no longer needed"}}}],"meta":{}}},"ServerLock":{"value":{"data":[{"id":"evt_6pWnQ8sY4MzPx","type":"events","attributes":{"created_at":"2026-01-07T11:30:22+00:00","action":"servers.lock","target":{"id":"sv_RLYV8DZ2D5QoE","name":"server"},"project":{"id":"proj_6059EqYkOQj8p","name":"Production Infrastructure","slug":"production-infrastructure"},"team":{"id":"team_XmP9n3K5wVH2LbjQbx8YDl5oB","name":"Engineering Team"},"author":{"id":"user_NYNl38rzNzs4KXL96apwU3WJ5oX8","name":"Jane Smith","email":"jane.smith@example.com"},"properties":{"friendly_id":"da-23-web-01","hostname":"da-23-web-01.dal.example.com"}}}],"meta":{}}},"ServerUnlock":{"value":{"data":[{"id":"evt_3vTpN7qM5KzWx","type":"events","attributes":{"created_at":"2026-01-07T14:28:33+00:00","action":"servers.unlock","target":{"id":"sv_RLYV8DZ2D5QoE","name":"server"},"project":{"id":"proj_6059EqYkOQj8p","name":"Production Infrastructure","slug":"production-infrastructure"},"team":{"id":"team_XmP9n3K5wVH2LbjQbx8YDl5oB","name":"Engineering Team"},"author":{"id":"user_NYNl38rzNzs4KXL96apwU3WJ5oX8","name":"Jane Smith","email":"jane.smith@example.com"},"properties":{"friendly_id":"da-23-web-01","hostname":"da-23-web-01.dal.example.com"}}}],"meta":{}}},"DeploymentFailed":{"value":{"data":[{"id":"evt_9mXpL4rK8NzTv","type":"events","attributes":{"created_at":"2026-01-07T13:15:42+00:00","action":"deployment.failed","target":{"id":"sv_RLYV8DZ2D5QoE","name":"server"},"project":{"id":"proj_6059EqYkOQj8p","name":"Production Infrastructure","slug":"production-infrastructure"},"team":{"id":"team_XmP9n3K5wVH2LbjQbx8YDl5oB","name":"Engineering Team"},"author":{"id":"user_NYNl38rzNzs4KXL96apwU3WJ5oX8","name":"Jane Smith","email":"jane.smith@example.com"},"properties":{"friendly_id":"da-23-web-01","hostname":"da-23-web-01.dal.example.com","distro":"ubuntu_22_04_x64_lts","operating_system":"Ubuntu 22.04 LTS","region":"Dallas"}}}],"meta":{}}},"ReinstallFailed":{"value":{"data":[{"id":"evt_5kQpN9rX3LzMy","type":"events","attributes":{"created_at":"2026-01-07T12:05:18+00:00","action":"reinstall.failed","target":{"id":"sv_RLYV8DZ2D5QoE","name":"server"},"project":{"id":"proj_6059EqYkOQj8p","name":"Production Infrastructure","slug":"production-infrastructure"},"team":{"id":"team_XmP9n3K5wVH2LbjQbx8YDl5oB","name":"Engineering Team"},"author":{"id":"user_NYNl38rzNzs4KXL96apwU3WJ5oX8","name":"Jane Smith","email":"jane.smith@example.com"},"properties":{"friendly_id":"da-23-web-01","hostname":"da-23-web-01.dal.example.com","distro":"ubuntu_22_04_x64_lts","operating_system":"Ubuntu 22.04 LTS","region":"Dallas"}}}],"meta":{}}},"ScheduleDeletion":{"value":{"data":[{"id":"evt_7rXpM5tN2KzVw","type":"events","attributes":{"created_at":"2026-01-07T10:15:08+00:00","action":"schedule_deletion.create","target":{"id":"sv_RLYV8DZ2D5QoE","name":"server"},"project":{"id":"proj_6059EqYkOQj8p","name":"Production Infrastructure","slug":"production-infrastructure"},"team":{"id":"team_XmP9n3K5wVH2LbjQbx8YDl5oB","name":"Engineering Team"},"author":{"id":"user_NYNl38rzNzs4KXL96apwU3WJ5oX8","name":"Jane Smith","email":"jane.smith@example.com"},"properties":{"friendly_id":"da-23-web-01","hostname":"da-23-web-01.dal.example.com"}}}],"meta":{}}}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/events"}}}}}}}},
        "x-speakeasy-name-override": "list"
      }},
    "/firewalls/assignments": {"get":{"summary":"List firewall assignments","operationId":"get-all-firewall-assignments","description":"Returns a list of all servers assigned to one or more firewalls.","tags":["Firewalls"],"security":[{"Bearer":[]}],"parameters":[{"name":"filter[server]","in":"query","required":false,"description":"The server ID to filter by","schema":{"type":"string"},"examples":{"Success":{"value":"sv_Qk0Ryqv1dW36X"}}}, {"name":"page[size]","in":"query","schema":{"type":"integer","minimum":1,"default":20},"required":false,"description":"Number of items to return per page"}, {"name":"page[number]","in":"query","schema":{"type":"integer","minimum":1,"default":1},"required":false,"description":"Page number to return (starts at 1)"}],"x-speakeasy-pagination":{"type":"offsetLimit","inputs":[{"name":"page[number]","in":"parameters","type":"page"}, {"name":"page[size]","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},"x-mint":{"href":"/api-reference/get-all-firewall-assignments"},"responses":{"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"fwasg_zGr47qlMDAg0m","type":"firewall_assignments","attributes":{"server":{"id":"sv_Qk0Ryqv1dW36X","hostname":"Heavy Duty Silk Bottle","primary_ipv4":"237.198.84.1"},"firewall":{"id":"fw_pRMLydp0dQKr1","name":"Welch LLC"}}}, {"id":"fwasg_w5AEmq7XDBkWX","type":"firewall_assignments","attributes":{"server":{"id":"sv_Qk0Ryqv1dW36X","hostname":"Heavy Duty Silk Bottle","primary_ipv4":"237.198.84.1"},"firewall":{"id":"fw_zGr47qlMDAg0m","name":"Corkery-Windler"}}}]}}},"schema":{"$ref":"#/components/schemas/firewall_assignments"}}}}}}},
    "/elastic_ips": {"get":{"summary":"List Elastic IPs","operationId":"list-elastic-ips","tags":["Elastic Ips"],"security":[{"Bearer":[]}],"parameters":[{"name":"filter[project]","in":"query","required":false,"description":"The project ID or slug to filter by","schema":{"type":"string"}}, {"name":"filter[server]","in":"query","required":false,"description":"The server ID to filter by","schema":{"type":"string"}}, {"name":"filter[status]","in":"query","required":false,"description":"The status to filter by","schema":{"type":"string","enum":["configuring","active","moving","releasing","error"]}}, {"name":"page[size]","in":"query","schema":{"type":"integer","minimum":1,"default":20},"required":false,"description":"Number of items to return per page"}, {"name":"page[number]","in":"query","schema":{"type":"integer","minimum":1,"default":1},"required":false,"description":"Page number to return (starts at 1)"}],"description":"List all Elastic IPs for the authenticated team. Elastic IPs are static public IP addresses that can be assigned to servers and moved between servers within the same project.\n","x-speakeasy-pagination":{"type":"offsetLimit","inputs":[{"name":"page[number]","in":"parameters","type":"page"}, {"name":"page[size]","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},"x-mint":{"href":"/api-reference/list-elastic-ips"},"responses":{"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"eip_KeQbB4BoO6x10","type":"elastic_ips","attributes":{"address":"177.54.156.7","family":"IPv4","prefix_length":32,"mode":"routed","status":"active","created_at":"2026-02-24T17:06:28.108Z","server":{"id":"sv_2GmAlJ6BXlK1a","hostname":"my-server","primary_ipv4":"177.54.157.75"},"project":{"id":"proj_AoW6vRnwkvLn0","name":"My Project","slug":"my-project"},"region":{"id":"region_sa_sao_paulo","name":"São Paulo","location":{"id":"site_sao","name":"São Paulo","slug":"SAO"}}}}],"meta":{}}}},"schema":{"$ref":"#/components/schemas/elastic_ips"}}}}}},"post":{"summary":"Create an Elastic IP","operationId":"create-elastic-ip","tags":["Elastic Ips"],"security":[{"Bearer":[]}],"parameters":[],"description":"Creates a new Elastic IP and assigns it to the specified server. The IP is provisioned asynchronously—the response will show status `configuring` and the `id` will be `null` until provisioning completes. Currently only IPv4 /32 addresses in routed mode are supported.\n","x-mint":{"href":"/api-reference/create-elastic-ip"},"responses":{"202":{"description":"Accepted","content":{"application/vnd.api+json":{"examples":{"Accepted":{"value":{"data":{"id":null,"type":"elastic_ips","attributes":{"address":"177.54.156.7","status":"configuring","project":{"id":"proj_AoW6vRnwkvLn0","name":"My Project","slug":"my-project"}}}}}},"schema":{"$ref":"#/components/schemas/elastic_ip"}}}},"422":{"description":"Unprocessable Entity","content":{"application/vnd.api+json":{"examples":{"ServerNotInProject":{"value":{"errors":[{"code":"SERVER_NOT_IN_PROJECT","message":"Server must belong to the specified project"}]}},"IpAllocationFailed":{"value":{"errors":[{"code":"IP_ALLOCATION_FAILED","message":"Failed to allocate IP address"}]}},"SiteNotSupported":{"value":{"errors":[{"code":"SITE_NOT_SUPPORTED","title":"Site Not Supported","status":"422","detail":"Elastic IPs are not available for site SAO"}]}},"ServerNetworkIncompatible":{"value":{"errors":[{"code":"SERVER_NETWORK_INCOMPATIBLE","title":"Server Network Incompatible","status":"422","detail":"Your server has outdated network configuration and we cannot enable elastic IP for it. Please reach out to support"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/create_elastic_ip"},"examples":{"Create":{"summary":"Create an Elastic IP","value":{"data":{"type":"elastic_ips","attributes":{"project_id":"proj_AoW6vRnwkvLn0","server_id":"sv_2GmAlJ6BXlK1a"}}}}}},"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/create_elastic_ip"},"examples":{"Create":{"summary":"Create an Elastic IP","value":{"data":{"type":"elastic_ips","attributes":{"project_id":"proj_AoW6vRnwkvLn0","server_id":"sv_2GmAlJ6BXlK1a"}}}}}}},"required":true}}},
    "/elastic_ips/{elastic_ip_id}": {"get":{"summary":"Retrieve an Elastic IP","operationId":"get-elastic-ip","tags":["Elastic Ips"],"security":[{"Bearer":[]}],"parameters":[{"name":"elastic_ip_id","in":"path","description":"The Elastic IP ID","required":true,"examples":{"Success":{"value":"eip_KeQbB4BoO6x10"}},"schema":{"type":"string"}}],"description":"Returns a single Elastic IP by its ID.\n","x-mint":{"href":"/api-reference/get-elastic-ip"},"responses":{"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":{"id":"eip_KeQbB4BoO6x10","type":"elastic_ips","attributes":{"address":"177.54.156.7","family":"IPv4","prefix_length":32,"mode":"routed","status":"active","created_at":"2026-02-24T17:06:28.108Z","server":{"id":"sv_2GmAlJ6BXlK1a","hostname":"my-server","primary_ipv4":"177.54.157.75"},"project":{"id":"proj_AoW6vRnwkvLn0","name":"My Project","slug":"my-project"},"region":{"id":"region_sa_sao_paulo","name":"São Paulo","location":{"id":"site_sao","name":"São Paulo","slug":"SAO"}}}}}}},"schema":{"$ref":"#/components/schemas/elastic_ip"}}}},"404":{"description":"Not Found","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/error_object"}}}}}},"patch":{"summary":"Move an Elastic IP","operationId":"update-elastic-ip","tags":["Elastic Ips"],"security":[{"Bearer":[]}],"parameters":[{"name":"elastic_ip_id","in":"path","description":"The Elastic IP ID","required":true,"examples":{"Success":{"value":"eip_KeQbB4BoO6x10"}},"schema":{"type":"string"}}],"description":"Moves an Elastic IP to a different server within the same project and site. The reassignment is performed asynchronously. The Elastic IP must be in `active` status, the target server must belong to the same project, and the target server must be in the same site as the currently assigned server.\n","x-mint":{"href":"/api-reference/update-elastic-ip"},"responses":{"202":{"description":"Accepted","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":{"id":"eip_KeQbB4BoO6x10","type":"elastic_ips","attributes":{"address":"177.54.156.7","family":"IPv4","prefix_length":32,"mode":"routed","status":"moving","created_at":"2026-02-24T17:06:28.108Z","server":{"id":"sv_oDEBlwBGRO2me","hostname":"new-server","primary_ipv4":"177.54.157.180","operating_system":"ubuntu_24_04_x64_lts"},"project":{"id":"proj_AoW6vRnwkvLn0","name":"My Project","slug":"my-project"},"region":{"id":"region_sa_sao_paulo","name":"São Paulo","location":{"id":"site_sao","name":"São Paulo","slug":"SAO"}}}}}}},"schema":{"$ref":"#/components/schemas/elastic_ip"}}}},"404":{"description":"Not Found","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/error_object"}}}},"422":{"description":"Unprocessable Entity","content":{"application/vnd.api+json":{"examples":{"ElasticIpNotActive":{"value":{"errors":[{"code":"ELASTIC_IP_NOT_ACTIVE","message":"Elastic IP must be in active status to move"}]}},"ServerNotInProject":{"value":{"errors":[{"code":"SERVER_NOT_IN_PROJECT","message":"Target server must belong to the same project"}]}},"SiteNotSupported":{"value":{"errors":[{"code":"SITE_NOT_SUPPORTED","title":"Site Not Supported","status":"422","detail":"Elastic IPs are not available for site SAO"}]}},"ServerNetworkIncompatible":{"value":{"errors":[{"code":"SERVER_NETWORK_INCOMPATIBLE","title":"Server Network Incompatible","status":"422","detail":"Your server has outdated network configuration and we cannot enable elastic IP for it. Please reach out to support"}]}},"SiteMismatch":{"value":{"errors":[{"code":"SITE_MISMATCH","title":"Site Mismatch","status":"422","detail":"Elastic IP cannot be moved to a server in a different site"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/update_elastic_ip"},"examples":{"Move":{"summary":"Move to another server","value":{"data":{"type":"elastic_ips","attributes":{"server_id":"sv_oDEBlwBGRO2me"}}}}}},"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/update_elastic_ip"},"examples":{"Move":{"summary":"Move to another server","value":{"data":{"type":"elastic_ips","attributes":{"server_id":"sv_oDEBlwBGRO2me"}}}}}}},"required":true}},"delete":{"summary":"Release an Elastic IP","operationId":"delete-elastic-ip","tags":["Elastic Ips"],"security":[{"Bearer":[]}],"parameters":[{"name":"elastic_ip_id","in":"path","description":"The Elastic IP ID","required":true,"schema":{"type":"string"}}],"description":"Releases an Elastic IP, returning it to the available pool. The IP will transition to `releasing` status before being fully removed. Only Elastic IPs with status `active` or `error` can be released.\n","x-mint":{"href":"/api-reference/delete-elastic-ip"},"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/error_object"}}}},"422":{"description":"Unprocessable Entity","content":{"application/vnd.api+json":{"examples":{"ElasticIpNotReleasable":{"value":{"errors":[{"code":"ELASTIC_IP_NOT_RELEASABLE","message":"Only Elastic IPs with status active or error can be released"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}}}}},
    "/firewalls": {
      "post": {
        "summary": "Create firewall",
        "operationId": "create-firewall",
        "description": "Create a firewall",
        "tags": ["Firewalls"],
        "security": [{"Bearer":[]}],
        "parameters": [],
        "x-mint": {"href":"/api-reference/create-firewall"},
        "responses": {"201":{"description":"Created","content":{"application/vnd.api+json":{"examples":{"Created":{"value":{"data":{"id":"fw_w5AEmq7XDBkWX","type":"firewalls","attributes":{"name":"my-firewall","project":{"id":"proj_RLYV8DZ2D5QoE","name":"Heavy Duty Copper Watch","slug":"heavy-duty-copper-watch"},"rules":[{"from":"ANY","to":"ANY","port":"22","protocol":"TCP","default":true}, {"from":"192.168.42.73","to":"192.168.43.51","port":"80","protocol":"TCP","default":false}, {"from":"192.168.1.16","to":"192.168.1.30","port":"80","protocol":"TCP","default":false}, {"from":"192.168.1.10","to":"192.168.1.20","port":"3000-4000","protocol":"UDP","default":false}]}}}}},"schema":{"$ref":"#/components/schemas/firewall"}}}}},
        "requestBody": {"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["firewalls"]},"attributes":{"type":"object","properties":{"name":{"type":"string"},"project":{"type":"string"},"rules":{"type":"array","items":{"type":"object","properties":{"from":{"type":"string","description":"Source IP address, IP range in CIDR notation, or 'ANY' (e.g., \"192.168.1.1\", \"192.168.1.0/24\", \"ANY\")"},"to":{"type":"string","description":"Destination IP address, IP range in CIDR notation, or 'ANY' (e.g., \"192.168.1.1\", \"192.168.1.0/24\", \"ANY\")"},"protocol":{"type":"string","enum":["TCP","UDP"]},"port":{"type":"string","description":"Port number or range (e.g., \"80\", \"80-443\")"},"description":{"type":"string","nullable":true,"description":"Optional description explaining the purpose of this rule"}}}}},"required":["name","project"]}},"required":["type"]}},"required":["data"]},"examples":{"Created":{"summary":"Created","value":{"data":{"type":"firewalls","attributes":{"name":"my-firewall","project":"heavy-duty-copper-watch","rules":[{"from":"192.168.42.73","to":"192.168.43.51","port":80,"protocol":"TCP","description":"Allow HTTP traffic"}, {"from":"192.168.1.16","to":"192.168.1.30","port":"80","protocol":"TCP"}, {"from":"192.168.1.10","to":"192.168.1.20","port":"3000-4000","protocol":"UDP","description":"Application ports"}]}}}}}},"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["firewalls"]},"attributes":{"type":"object","properties":{"name":{"type":"string"},"project":{"type":"string"},"rules":{"type":"array","items":{"type":"object","properties":{"from":{"type":"string","description":"Source IP address, IP range in CIDR notation, or 'ANY' (e.g., \"192.168.1.1\", \"192.168.1.0/24\", \"ANY\")"},"to":{"type":"string","description":"Destination IP address, IP range in CIDR notation, or 'ANY' (e.g., \"192.168.1.1\", \"192.168.1.0/24\", \"ANY\")"},"protocol":{"type":"string","enum":["TCP","UDP"]},"port":{"type":"string","description":"Port number or range (e.g., \"80\", \"80-443\")"},"description":{"type":"string","nullable":true,"description":"Optional description explaining the purpose of this rule"}}}}},"required":["name","project"]}},"required":["type"]}},"required":["data"]},"examples":{"Created":{"summary":"Created","value":{"data":{"type":"firewalls","attributes":{"name":"my-firewall","project":"heavy-duty-copper-watch","rules":[{"from":"192.168.42.73","to":"192.168.43.51","port":80,"protocol":"TCP","description":"Allow HTTP traffic"}, {"from":"192.168.1.16","to":"192.168.1.30","port":"80","protocol":"TCP"}, {"from":"192.168.1.10","to":"192.168.1.20","port":"3000-4000","protocol":"UDP","description":"Application ports"}]}}}}}}},"required":true},
        "x-speakeasy-name-override": "create"
      },
      "get": {
        "summary": "List firewalls",
        "operationId": "list-firewalls",
        "description": "List firewalls",
        "tags": ["Firewalls"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"filter[project]","in":"query","required":false,"schema":{"type":"string"},"examples":{"Success":{"value":"intelligent-marble-lamp"}}}, {"name":"page[size]","in":"query","schema":{"type":"integer","minimum":1,"default":20},"required":false,"description":"Number of items to return per page"}, {"name":"page[number]","in":"query","schema":{"type":"integer","minimum":1,"default":1},"required":false,"description":"Page number to return (starts at 1)"}],
        "x-speakeasy-pagination": {"type":"offsetLimit","inputs":[{"name":"page[number]","in":"parameters","type":"page"}, {"name":"page[size]","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},
        "x-mint": {"href":"/api-reference/list-firewalls"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"fw_VaNmodjeObE8W","type":"firewalls","attributes":{"name":"Carroll-Purdy","project":{"id":"proj_2695BdKrOevVo","name":"Intelligent Marble Lamp","slug":"intelligent-marble-lamp"},"rules":[{"from":"150.186.180.30","to":"115.157.70.5","port":"80","protocol":"TCP","default":false}]}}]}}},"schema":{"$ref":"#/components/schemas/firewalls"}}}}},
        "x-speakeasy-name-override": "list"
      }
    },
    "/firewalls/{firewall_id}": {
      "get": {
        "summary": "Retrieve firewall",
        "operationId": "get-firewall",
        "description": "Returns a single firewall by its ID.",
        "tags": ["Firewalls"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"firewall_id","in":"path","description":"The Firewall ID","required":true,"examples":{"Success":{"value":"fw_6A05EdQ1dvKYQ"}},"schema":{"type":"string"}}],
        "x-mint": {"href":"/api-reference/get-firewall"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":{"id":"fw_6A05EdQ1dvKYQ","type":"firewalls","attributes":{"name":"D'Amore-Nienow","project":{"id":"proj_byQrJdNJd30gv","name":"Rustic Steel Plate","slug":"rustic-steel-plate"},"rules":[{"from":"233.62.24.172","to":"20.231.71.178","port":"80","protocol":"TCP","default":false}, {"from":"242.23.216.53","to":"136.56.111.45","port":"80","protocol":"TCP","default":false}]}}}}},"schema":{"$ref":"#/components/schemas/firewall"}}}}},
        "x-speakeasy-name-override": "get"
      },
      "patch": {
        "summary": "Update firewall",
        "operationId": "update-firewall",
        "description": "Updates a firewall by its ID.",
        "tags": ["Firewalls"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"firewall_id","in":"path","description":"The Firewall ID","required":true,"examples":{"Success":{"value":"fw_r0MK4O4kDa95w"}},"schema":{"type":"string"}}],
        "x-mint": {"href":"/api-reference/update-firewall"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":{"id":"fw_r0MK4O4kDa95w","type":"firewalls","attributes":{"name":"new-name","project":{"id":"proj_aKXgRdR3qv9k5","name":"Rustic Wooden Clock","slug":"rustic-wooden-clock"},"rules":[{"from":"192.168.42.72","to":"192.168.43.51","port":"80","protocol":"TCP","default":false}]}}}}},"schema":{"$ref":"#/components/schemas/firewall"}}}}},
        "requestBody": {"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["firewalls"]},"attributes":{"type":"object","properties":{"name":{"type":"string"},"rules":{"type":"array","items":{"type":"object","properties":{"from":{"type":"string"},"to":{"type":"string"},"protocol":{"type":"string","enum":["TCP","UDP"]},"port":{"type":"string","description":"Port number or range (e.g., \"80\", \"80-443\")"},"description":{"type":"string","nullable":true,"description":"Optional description explaining the purpose of this rule"}}}}}}},"required":["type"]}},"required":["data"]},"examples":{"Success":{"summary":"Success","value":{"data":{"type":"firewalls","attributes":{"name":"new-name","rules":[{"from":"192.168.42.72","to":"192.168.43.51","port":80,"protocol":"TCP","description":"Allow HTTP"}]}}}}}},"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["firewalls"]},"attributes":{"type":"object","properties":{"name":{"type":"string"},"rules":{"type":"array","items":{"type":"object","properties":{"from":{"type":"string"},"to":{"type":"string"},"protocol":{"type":"string","enum":["TCP","UDP"]},"port":{"type":"string","description":"Port number or range (e.g., \"80\", \"80-443\")"},"description":{"type":"string","nullable":true,"description":"Optional description explaining the purpose of this rule"}}}}}}},"required":["type"]}},"required":["data"]},"examples":{"Success":{"summary":"Success","value":{"data":{"type":"firewalls","attributes":{"name":"new-name","rules":[{"from":"192.168.42.72","to":"192.168.43.51","port":80,"protocol":"TCP","description":"Allow HTTP"}]}}}}}}},"required":true},
        "x-speakeasy-name-override": "update"
      },
      "delete": {
        "summary": "Delete firewall",
        "operationId": "delete-firewall",
        "tags": ["Firewalls"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"firewall_id","in":"path","description":"The Firewall ID","required":true,"schema":{"type":"string"}}],
        "x-mint": {"href":"/api-reference/delete-firewall"},
        "responses": {"204":{"description":"No Content"}},
        "x-speakeasy-name-override": "delete"
      }
    },
    "/firewalls/{firewall_id}/assignments": {
      "post": {
        "summary": "Assign server to firewall",
        "operationId": "create-firewall-assignment",
        "description": "Assigns a server to a firewall by its ID.",
        "tags": ["Firewalls"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"firewall_id","in":"path","description":"The Firewall ID","required":true,"examples":{"Created":{"value":"fw_Ee8pKq05DWAob"}},"schema":{"type":"string"}}],
        "x-mint": {"href":"/api-reference/create-firewall-assignment"},
        "responses": {"201":{"description":"Created","content":{"application/vnd.api+json":{"examples":{"Created":{"value":{"data":{"id":"fwasg_6VE1Wd37dXnZJ","type":"firewall_assignments","attributes":{"server":{"id":"sv_aKXgRdR3qv9k5","hostname":"Ergonomic Wooden Keyboard","primary_ipv4":"132.192.74.198"},"firewall_id":"fw_Ee8pKq05DWAob"}}}}},"schema":{"$ref":"#/components/schemas/firewall_server"}}}}},
        "requestBody": {"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["firewall_assignments"]},"attributes":{"type":"object","properties":{"server_id":{"type":"string"}},"required":["server_id"]}},"required":["type"]}},"required":["data"]},"examples":{"Created":{"summary":"Created","value":{"data":{"type":"firewall_assignments","attributes":{"server_id":"sv_aKXgRdR3qv9k5"}}}}}},"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["firewall_assignments"]},"attributes":{"type":"object","properties":{"server_id":{"type":"string"}},"required":["server_id"]}},"required":["type"]}},"required":["data"]},"examples":{"Created":{"summary":"Created","value":{"data":{"type":"firewall_assignments","attributes":{"server_id":"sv_aKXgRdR3qv9k5"}}}}}}},"required":true},
        "x-speakeasy-group": "firewalls.assignments",
        "x-speakeasy-name-override": "create"
      },
      "get": {
        "summary": "Firewall assignments",
        "operationId": "get-firewall-assignments",
        "description": "Returns a list of all servers assigned to a particular firewall.",
        "tags": ["Firewalls"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"firewall_id","in":"path","description":"The Firewall ID","required":true,"examples":{"Success":{"value":"fw_Qk0Ryqv1dW36X"}},"schema":{"type":"string"}}, {"name":"page[size]","in":"query","schema":{"type":"integer","minimum":1,"default":20},"required":false,"description":"Number of items to return per page"}, {"name":"page[number]","in":"query","schema":{"type":"integer","minimum":1,"default":1},"required":false,"description":"Page number to return (starts at 1)"}],
        "x-speakeasy-pagination": {"type":"offsetLimit","inputs":[{"name":"page[number]","in":"parameters","type":"page"}, {"name":"page[size]","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},
        "x-mint": {"href":"/api-reference/get-firewall-assignments"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"fwasg_6A05EdQ1dvKYQ","type":"firewall_assignments","attributes":{"server":{"id":"sv_1Qkm7dXzD8nZV","hostname":"Durable Concrete Lamp","primary_ipv4":"114.216.142.237"},"firewall_id":"fw_Qk0Ryqv1dW36X"}}, {"id":"fwasg_ez2A3DVldnawP","type":"firewall_assignments","attributes":{"server":{"id":"sv_m5xyZOnNOWM0l","hostname":"Rustic Cotton Clock","primary_ipv4":"27.26.3.128"},"firewall_id":"fw_Qk0Ryqv1dW36X"}}]}}},"schema":{"$ref":"#/components/schemas/firewall_assignments"}}}}},
        "x-speakeasy-name-override": "listAssignments"
      }
    },
    "/firewalls/{firewall_id}/assignments/{assignment_id}": {"delete":{
        "summary": "Delete assignment",
        "operationId": "delete-firewall-assignment",
        "description": "Removes a server from a firewall by its ID.",
        "tags": ["Firewalls"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"firewall_id","in":"path","description":"The Firewall ID","required":true,"schema":{"type":"string"}}, {"name":"assignment_id","in":"path","description":"The Assignment ID","required":true,"schema":{"type":"string"}}],
        "x-mint": {"href":"/api-reference/delete-firewall-assignment"},
        "responses": {"204":{"description":"No Content"}},
        "x-speakeasy-name-override": "deleteAssignment"
      }},
    "/ips": {"get":{
        "summary": "List IPs",
        "operationId": "get-ips",
        "tags": ["IP Addresses"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"filter[server]","in":"query","required":false,"description":"The server ID to filter by","schema":{"type":"string"}}, {"name":"filter[project]","in":"query","required":false,"description":"The project ID or Slug to filter by","schema":{"type":"string"}}, {"name":"filter[family]","in":"query","schema":{"type":"string","enum":["IPv4","IPv6"]},"required":false,"description":"The protocol family to filter by"}, {"name":"filter[type]","in":"query","schema":{"type":"string","enum":["private","public"]},"required":false,"description":"The protocol type to filter by"}, {"name":"filter[location]","in":"query","required":false,"description":"The site slug to filter by","schema":{"type":"string"}}, {"name":"filter[address]","in":"query","required":false,"description":"The address of IP to filter by starts_with","schema":{"type":"string"}}, {"name":"filter[additional]","in":"query","schema":{"type":"boolean"},"required":false,"description":"Filter by additional IPs (true) or management IPs (false)"}, {"name":"extra_fields[ip_addresses]","in":"query","required":false,"description":"The `region` and `server` are provided as extra attributes that are lazy loaded. To request it, just set `extra_fields[ip_addresses]=region,server` in the query string.","schema":{"type":"string"}}, {"name":"page[size]","in":"query","schema":{"type":"integer","minimum":1,"default":20},"required":false,"description":"Number of items to return per page"}, {"name":"page[number]","in":"query","schema":{"type":"integer","minimum":1,"default":1},"required":false,"description":"Page number to return (starts at 1)"}],
        "description": "List all Management and Additional IP Addresses.\n • Management IPs are IPs that are used for the management IP of a device.\n   This is a public IP address that a device is born and dies with. It never changes during the lifecycle of the device.\n • Additional IPs are individual IPs that can be added to a device as an additional IP that can be used.\n",
        "x-speakeasy-pagination": {"type":"offsetLimit","inputs":[{"name":"page[number]","in":"parameters","type":"page"}, {"name":"page[size]","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},
        "x-mint": {"href":"/api-reference/get-ips"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"ip_5AEmq7wXqBkWX","type":"ip_addresses","attributes":{"address":"110.190.5.254","cidr":null,"family":"IPv4","gateway":null,"netmask":"255.255.255.255","type":"Public","public":true,"management":true,"additional":false,"project":{"id":"proj_lkg1DeVgOvZE5","name":"Incredible Silk Keyboard"},"region":{},"available":true,"assignment":{}}}, {"id":"ip_Gr47qleMDAg0m","type":"ip_addresses","attributes":{"address":"180.228.210.136","cidr":null,"family":"IPv4","gateway":null,"netmask":"255.255.255.255","type":"Public","public":true,"management":true,"additional":false,"project":{"id":"proj_lkg1DeVgOvZE5","name":"Incredible Silk Keyboard"},"region":{},"available":true,"assignment":{}}}],"meta":{}}}},"schema":{"$ref":"#/components/schemas/ip_addresses"}}}}},
        "x-speakeasy-group": "ipAddresses",
        "x-speakeasy-name-override": "list"
      }},
    "/ips/{ip_id}": {"get":{
        "summary": "Retrieve an IP",
        "operationId": "get-ip",
        "tags": ["IP Addresses"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"ip_id","in":"path","description":"The IP Address ID","required":true,"schema":{"type":"string"}}, {"name":"extra_fields[ip_addresses]","in":"query","required":false,"description":"The `region` and `server` are provided as extra attributes that are lazy loaded. To request it, just set `extra_fields[ip_addresses]=region,server` in the query string.","schema":{"type":"string"}}],
        "description": "Retrieve an IP Address",
        "x-mint": {"href":"/api-reference/get-ip"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/ip_address"}}}}},
        "x-speakeasy-group": "ipAddresses",
        "x-speakeasy-name-override": "get"
      }},
    "/team/members": {
      "get": {
        "summary": "List members",
        "operationId": "get-team-members",
        "tags": ["Team members"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"page[size]","in":"query","schema":{"type":"integer","minimum":1,"default":20},"required":false,"description":"Number of items to return per page"}, {"name":"page[number]","in":"query","schema":{"type":"integer","minimum":1,"default":1},"required":false,"description":"Page number to return (starts at 1)"}],
        "x-speakeasy-pagination": {"type":"offsetLimit","inputs":[{"name":"page[number]","in":"parameters","type":"page"}, {"name":"page[size]","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},
        "x-mint": {"href":"/api-reference/get-team-members"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"user_4V815bRpPLCKKQnvA2yESr5Q8Px","type":"users","attributes":{"first_name":"Arron","last_name":"Flatley","email":"gabrielle@carter.example","mfa_enabled":false,"created_at":"2025-10-31T00:00:00+00:00","updated_at":"2026-11-15T00:00:00+00:00","last_login_at":null,"role":{"id":"role_0W0Q8EJMrViyEkP5KBzzHNP4v48","name":"billing"}}}, {"id":"user_YLNGPAYPAotoo2mZRv59SGLKQW7n","type":"users","attributes":{"first_name":"Kathryne","last_name":"Purdy","email":"hilaria.rutherford@lowe.test","mfa_enabled":false,"created_at":"2025-05-31T00:00:00+00:00","updated_at":"2026-10-22T00:00:00+00:00","last_login_at":null,"role":{"id":"role_o41aor9xVMSzmNM5eQN4TkJbv42","name":"owner"}}}, {"id":"user_LxZl44k6rJtLBAYg67L7F5o3AkJP","type":"users","attributes":{"first_name":"Myles","last_name":"Lesch","email":"manual@marquardt-lueilwitz.example","mfa_enabled":false,"created_at":"2025-02-22T00:00:00+00:00","updated_at":"2026-09-20T00:00:00+00:00","last_login_at":"2025-08-05T00:00:00+00:00","role":{"id":"role_o41aor9xVMSzmNM5eQN4TkJbv42","name":"owner"}}}],"meta":{}}}},"schema":{"$ref":"#/components/schemas/team_members"}}}}},
        "x-speakeasy-group": "teams.members"
      },
      "post": {
        "summary": "Create member",
        "operationId": "post-team-members",
        "tags": ["Team members"],
        "security": [{"Bearer":[]}],
        "parameters": [],
        "x-mint": {"href":"/api-reference/post-team-members"},
        "responses": {"201":{"description":"Created","content":{"application/vnd.api+json":{"examples":{"Created":{"value":{"data":{"id":"user_pbV0Dgykd4AWz","type":"memberships","attributes":{"first_name":"Maricela","last_name":"Torphy","email":"maritza_schneider@mcglynn.test","role":"collaborator","mfa_enabled":false,"created_at":"2026-01-14T15:56:36+00:00","updated_at":"2026-01-14T15:56:36+00:00"}},"meta":{}}}},"schema":{"$ref":"#/components/schemas/membership"}}}}},
        "requestBody": {"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["memberships"]},"attributes":{"type":"object","properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string"},"role":{"type":"string","enum":["owner","administrator","collaborator","billing"]}},"required":["email","role"]}},"required":["type"]}},"required":["data"]},"examples":{"Created":{"summary":"Created","value":{"data":{"type":"teams","attributes":{"first_name":"Maricela","last_name":"Torphy","email":"maritza_schneider@mcglynn.test","role":"collaborator"}}}}}},"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["memberships"]},"attributes":{"type":"object","properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string"},"role":{"type":"string","enum":["owner","administrator","collaborator","billing"]}},"required":["email","role"]}},"required":["type"]}},"required":["data"]},"examples":{"Created":{"summary":"Created","value":{"data":{"type":"teams","attributes":{"first_name":"Maricela","last_name":"Torphy","email":"maritza_schneider@mcglynn.test","role":"collaborator"}}}}}}},"required":true},
        "x-speakeasy-group": "teamMembers"
      }
    },
    "/team/members/{user_id}": {"delete":{
        "summary": "Remove a member",
        "operationId": "destroy-team-member",
        "tags": ["Team members"],
        "parameters": [{"name":"user_id","in":"path","description":"The user ID","required":true,"examples":{"Success":{"value":"user_0MoLqJEYd57pY"}},"schema":{"type":"string"}}],
        "security": [{"Bearer":[]}],
        "x-mint": {"href":"/api-reference/destroy-team-member"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"meta":{}}}}}}}},
        "x-speakeasy-group": "teamMembers",
        "x-speakeasy-name-override": "delete"
      }},
    "/plans/operating_systems": {"get":{
        "summary": "List operating systems",
        "operationId": "get-plans-operating-system",
        "tags": ["Operating Systems"],
        "security": [{"Bearer":[]}],
        "description": "Lists all operating systems available to deploy and reinstall.\n",
        "parameters": [{"name":"page[size]","in":"query","schema":{"type":"integer","minimum":1,"default":20},"required":false,"description":"Number of items to return per page"}, {"name":"page[number]","in":"query","schema":{"type":"integer","minimum":1,"default":1},"required":false,"description":"Page number to return (starts at 1)"}],
        "x-speakeasy-pagination": {"type":"offsetLimit","inputs":[{"name":"page[number]","in":"parameters","type":"page"}, {"name":"page[size]","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},
        "x-mint": {"href":"/api-reference/get-plans-operating-system"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"os_mw49QDB5qagKb","type":"operating_system","attributes":{"name":"windows_server_2012_r2_std_v281 11.77","distro":"CentOS 1","slug":"debian_121","version":"11.77","user":"Rosalinda","features":{},"provisionable_on":["g3.a100.medium-39","c2.medium.x86-40"]}}],"meta":{}}}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/operating_systems"}}}}}}}},
        "x-speakeasy-group": "operatingSystems",
        "x-speakeasy-name-override": "listPlans"
      }},
    "/kubernetes_clusters": {"post":{"summary":"Create a Kubernetes Cluster","operationId":"create-kubernetes-cluster","tags":["Kubernetes Clusters"],"security":[{"Bearer":[]}],"parameters":[],"description":"Creates a new managed Kubernetes cluster. Maximum of 1 cluster per project.\n\n**Note:** Only users with the `owner`, `administrator`, or `collaborator` role can create clusters. Users with the `billing` role cannot perform this action.\n\nCluster names must follow Kubernetes naming rules: lowercase alphanumeric characters or hyphens, must start and end with an alphanumeric character, and be at most 63 characters long.\n","responses":{"201":{"description":"Created","content":{"application/vnd.api+json":{"examples":{"Created":{"value":{"data":{"type":"kubernetes_clusters","id":"kc_pRMLydp0dQKr1","attributes":{"name":"my-cluster","status":"provisioning","control_plane_endpoint":"https://api.my-cluster.example.com:6443"}}}}},"schema":{"$ref":"#/components/schemas/kubernetes_cluster_create_response"}}}},"400":{"description":"Bad Request","content":{"application/vnd.api+json":{"examples":{"ValidationError":{"value":{"errors":[{"code":"VALIDATION_ERROR","message":"Project ID is required"}]}},"InvalidSshKeys":{"value":{"errors":[{"code":"VALIDATION_ERROR","message":"One or more SSH keys not found or not owned by your team"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"examples":{"FeatureNotEnabled":{"value":{"errors":[{"code":"FEATURE_NOT_ENABLED","message":"Managed Kubernetes is not enabled for this team"}]}},"InsufficientPermissions":{"value":{"errors":[{"code":"FORBIDDEN","message":"You are not authorized to perform this action"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"422":{"description":"Unprocessable Entity","content":{"application/vnd.api+json":{"examples":{"ClusterLimitExceeded":{"value":{"errors":[{"code":"CLUSTER_LIMIT_EXCEEDED","message":"Only 1 cluster per project is allowed"}]}},"NoAvailableIP":{"value":{"errors":[{"code":"NO_AVAILABLE_IP","message":"Failed to allocate LoadBalancer IP: No available IP found"}]}},"InvalidSite":{"value":{"errors":[{"code":"INVALID_SITE","message":"Site not found"}]}},"SiteNotSupported":{"value":{"errors":[{"code":"SITE_NOT_SUPPORTED","message":"Managed Kubernetes is not available at site MIA. Available sites: FRA, ASH"}]}},"InvalidClusterName":{"value":{"errors":[{"code":"INVALID_CLUSTER_NAME","message":"Cluster name must contain only lowercase letters, numbers, and hyphens"}]}},"InsufficientStock":{"value":{"errors":[{"code":"INSUFFICIENT_STOCK","message":"No stock available of plan suitable for Kubernetes cluster"}]}},"PlanNotFound":{"value":{"errors":[{"code":"PLAN_NOT_FOUND","message":"Plan 'invalid-plan' not found"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"503":{"description":"Service Unavailable","content":{"application/vnd.api+json":{"examples":{"ManagementClusterError":{"value":{"errors":[{"code":"MANAGEMENT_CLUSTER_ERROR","message":"Failed to communicate with the management cluster"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}}},"requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/create_kubernetes_cluster"},"examples":{"Created":{"summary":"Create a cluster","value":{"data":{"type":"kubernetes_clusters","attributes":{"name":"my-cluster","project_id":"proj_6059EqYkOQj8p","site":"SAN3","plan":"c2-small-x86","ssh_keys":["ssh_VkE1DwV37dnZJ"]}}}}}}},"required":true}},"get":{"summary":"List Kubernetes Clusters","operationId":"list-kubernetes-clusters","tags":["Kubernetes Clusters"],"security":[{"Bearer":[]}],"parameters":[{"name":"project_id","in":"query","required":true,"description":"The project ID to filter clusters by","schema":{"type":"string"}}],"description":"Lists all Kubernetes clusters for a project.\n","responses":{"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"type":"kubernetes_clusters","id":"kc_pRMLydp0dQKr1","attributes":{"name":"my-cluster","phase":"Provisioned","ready":true,"infrastructure_ready":true,"control_plane_ready":true,"message":"Cluster is ready","steps":[{"name":"infrastructure","status":"completed"}, {"name":"control_plane","status":"completed"}, {"name":"workers","status":"completed"}],"last_status_change":"2026-01-15T10:35:00Z","created_at":"2026-01-15T10:30:00Z"}}]}},"EmptyList":{"value":{"data":[]}}},"schema":{"$ref":"#/components/schemas/kubernetes_clusters"}}}},"400":{"description":"Bad Request","content":{"application/vnd.api+json":{"examples":{"MissingProjectId":{"value":{"errors":[{"code":"VALIDATION_ERROR","message":"project_id query param is required"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"examples":{"InvalidToken":{"value":{"errors":[{"code":"UNAUTHORIZED","message":"Invalid token"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}}}}},
    "/kubernetes_clusters/available_versions": {"get":{"summary":"List Available Kubernetes Versions","operationId":"list-kubernetes-available-versions","tags":["Kubernetes Clusters"],"security":[{"Bearer":[]}],"parameters":[],"description":"Returns the list of available Kubernetes versions for cluster creation and upgrades. Versions are sourced from the RKE2 release channels and cached for 24 hours.\n\nEach version object includes:\n- `latest`: The full version string (e.g., `v1.35.3+rke2r1`)\n- `minor`: The minor version number (e.g., `1.35`)\n\nThe API returns the latest 5 supported minor versions. When upgrading clusters, you can only upgrade one minor version at a time (e.g., from 1.34 to 1.35).\n","responses":{"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"latest":"v1.31.6+rke2r1","minor":"1.31"}, {"latest":"v1.32.5+rke2r1","minor":"1.32"}, {"latest":"v1.33.5+rke2r1","minor":"1.33"}, {"latest":"v1.34.6+rke2r1","minor":"1.34"}, {"latest":"v1.35.3+rke2r1","minor":"1.35"}]}}},"schema":{"$ref":"#/components/schemas/kubernetes_available_versions"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"examples":{"InvalidToken":{"value":{"errors":[{"code":"UNAUTHORIZED","message":"Invalid token"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}}}}},
    "/kubernetes_clusters/{kubernetes_cluster_id}": {"get":{"summary":"Get a Kubernetes Cluster","operationId":"get-kubernetes-cluster","tags":["Kubernetes Clusters"],"security":[{"Bearer":[]}],"parameters":[{"name":"kubernetes_cluster_id","in":"path","required":true,"description":"The cluster ID (format: kc_<hash>) or cluster name. Both formats are accepted for backward compatibility.","schema":{"type":"string"}}],"description":"Retrieves detailed information about a Kubernetes cluster including its status, control plane, worker node details, and individual node information.\n","responses":{"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":{"type":"kubernetes_clusters","id":"kc_pRMLydp0dQKr1","attributes":{"name":"my-cluster","phase":"Provisioned","ready":true,"control_plane_endpoint":"https://api.my-cluster.example.com:6443","kubeconfig_url":"/kubernetes_clusters/kc_pRMLydp0dQKr1/kubeconfig","location":"SAN3","load_balancer_ips":["10.0.0.1"],"kubernetes_version":"v1.34.3+rke2r1","version_status":"upgrade_available","available_upgrade":"v1.35.3+rke2r1","created_at":"2026-01-15T10:30:00Z","plan":"c3-small-x86","worker_plan":"c3-medium-x86","control_plane_count":1,"worker_count":1,"control_plane":{"ready":true,"replicas":1,"ready_replicas":1},"workers":{"replicas":1,"ready_replicas":1,"available_replicas":1},"worker_status":"ready","control_plane_status":"ready","infrastructure_ready":true,"control_plane_ready":true,"message":"Cluster is ready","steps":[{"name":"infrastructure","status":"completed"}, {"name":"control_plane","status":"completed"}, {"name":"workers","status":"completed"}],"last_status_change":"2026-01-15T10:35:00Z","failure_message":null,"failure_reason":null,"nodes":[{"id":"my-cluster-control-plane-abc12","name":"my-cluster-control-plane-abc12","hostname":"my-cluster-control-plane-abc12","server_id":"sv_RLYV8DZ2D5QoE","type":"control_plane","status":"ready","ip":"203.0.113.10","internal_ip":"10.0.0.10","external_ip":"203.0.113.10"}, {"id":"my-cluster-md-0-def34","name":"my-cluster-md-0-def34","hostname":"my-cluster-md-0-def34","server_id":"sv_7KP2Xm9nYwR3Q","type":"worker","status":"ready","ip":"203.0.113.20","internal_ip":"10.0.0.20","external_ip":"203.0.113.20"}],"project":{"id":"proj_6059EqYkOQj8p","name":"My Project","slug":"my-project"}}}}},"Provisioning":{"value":{"data":{"type":"kubernetes_clusters","id":"kc_pRMLydp0dQKr1","attributes":{"name":"my-cluster","phase":"Provisioning","ready":false,"control_plane_endpoint":null,"kubeconfig_url":null,"location":"SAN3","load_balancer_ips":[],"kubernetes_version":"v1.34.3+rke2r1","version_status":"up_to_date","available_upgrade":null,"created_at":"2026-01-15T10:30:00Z","plan":"c3-small-x86","worker_plan":"c3-medium-x86","control_plane_count":1,"worker_count":0,"control_plane":{"ready":false,"replicas":1,"ready_replicas":0},"workers":null,"worker_status":null,"control_plane_status":"scaling","infrastructure_ready":false,"control_plane_ready":false,"message":"Setting up cluster infrastructure","steps":[{"name":"infrastructure","status":"in_progress"}, {"name":"control_plane","status":"pending"}, {"name":"workers","status":"pending"}],"last_status_change":"2026-01-15T10:32:00Z","failure_message":null,"failure_reason":null,"nodes":[{"id":"my-cluster-control-plane-xyz78","name":"my-cluster-control-plane-xyz78","hostname":null,"server_id":null,"type":"control_plane","status":"pending","ip":null,"internal_ip":null,"external_ip":null}],"project":{"id":"proj_6059EqYkOQj8p","name":"My Project","slug":"my-project"}}}}}},"schema":{"$ref":"#/components/schemas/kubernetes_cluster"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"examples":{"InvalidToken":{"value":{"errors":[{"code":"UNAUTHORIZED","message":"Invalid token"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"404":{"description":"Not Found","content":{"application/vnd.api+json":{"examples":{"ClusterNotFound":{"value":{"errors":[{"code":"NOT_FOUND","message":"Cluster my-cluster not found"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}}}},"delete":{"summary":"Delete a Kubernetes Cluster","operationId":"delete-kubernetes-cluster","tags":["Kubernetes Clusters"],"security":[{"Bearer":[]}],"parameters":[{"name":"kubernetes_cluster_id","in":"path","required":true,"description":"The cluster ID (format: kc_<hash>) or cluster name. Both formats are accepted for backward compatibility.","schema":{"type":"string"}}],"description":"Deletes a Kubernetes cluster. This action is irreversible and will destroy all cluster resources.\n\n**Note:** Only users with the `owner`, `administrator`, or `collaborator` role can delete clusters. Users with the `billing` role cannot perform this action.\n","responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"examples":{"InvalidToken":{"value":{"errors":[{"code":"UNAUTHORIZED","message":"Invalid token"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"examples":{"FeatureNotEnabled":{"value":{"errors":[{"code":"FEATURE_NOT_ENABLED","message":"Managed Kubernetes is not enabled for this team"}]}},"InsufficientPermissions":{"value":{"errors":[{"code":"FORBIDDEN","message":"You are not authorized to perform this action"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"404":{"description":"Not Found","content":{"application/vnd.api+json":{"examples":{"ClusterNotFound":{"value":{"errors":[{"code":"NOT_FOUND","message":"Cluster my-cluster not found"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"422":{"description":"Unprocessable Entity","content":{"application/vnd.api+json":{"examples":{"DeletionFailed":{"value":{"errors":[{"code":"DELETION_FAILED","message":"Failed to delete the cluster"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}}}},"patch":{"summary":"Update Kubernetes Cluster","operationId":"update-kubernetes-cluster","tags":["Kubernetes Clusters"],"security":[{"Bearer":[]}],"parameters":[{"name":"kubernetes_cluster_id","in":"path","required":true,"description":"The cluster ID (format: kc_<hash>) or cluster name. Both formats are accepted for backward compatibility.","schema":{"type":"string"}}],"description":"Updates a Kubernetes cluster by scaling nodes or upgrading the Kubernetes version. The cluster must be in `Provisioned` phase to accept updates.\n\n## Scaling Operations\n\nExactly one of `worker_count` or `control_plane_count` must be provided per request. You cannot scale workers and control plane nodes in the same request.\n\nWhen scaling up, the API validates that sufficient server stock is available for the requested delta (e.g., scaling from 2 to 5 workers checks for 3 available servers).\n\nWhen scaling from 0 workers, you must provide a `worker_plan` since there is no existing configuration to inherit the plan from.\n\nControl plane scaling has a minimum of 1 node. You cannot scale control plane nodes to zero.\n\n## Version Upgrades\n\nProvide a `kubernetes_version` parameter to upgrade the cluster to a new Kubernetes version. Version upgrades follow these rules:\n\n- **No downgrades**: You cannot downgrade to a lower version than currently installed\n- **One minor version at a time**: You can only upgrade one minor version at a time (e.g., from 1.34 to 1.35, not from 1.34 to 1.36)\n- **Mutually exclusive**: Version upgrades cannot be combined with scaling operations in the same request\n- **Available versions only**: The target version must be in the list returned by `GET /kubernetes_clusters/available_versions`\n\nReturns 202 Accepted when an update operation is triggered. Poll the GET endpoint to monitor progress. Returns 200 OK if no change is needed (no-op).\n","responses":{"200":{"description":"OK - No change needed","content":{"application/vnd.api+json":{"examples":{"WorkersUnchanged":{"summary":"Worker count unchanged","value":{"data":{"type":"kubernetes_clusters","id":"kc_pRMLydp0dQKr1","attributes":{"name":"my-cluster","status":"unchanged","worker_count":3}}}},"ControlPlaneUnchanged":{"summary":"Control plane count unchanged","value":{"data":{"type":"kubernetes_clusters","id":"kc_pRMLydp0dQKr1","attributes":{"name":"my-cluster","status":"unchanged","control_plane_count":3}}}}},"schema":{"$ref":"#/components/schemas/kubernetes_cluster_update_response"}}}},"202":{"description":"Accepted - Update operation started","content":{"application/vnd.api+json":{"examples":{"ScalingWorkers":{"summary":"Worker scaling in progress","value":{"data":{"type":"kubernetes_clusters","id":"kc_pRMLydp0dQKr1","attributes":{"name":"my-cluster","status":"scaling","worker_count":5}}}},"ScalingControlPlane":{"summary":"Control plane scaling in progress","value":{"data":{"type":"kubernetes_clusters","id":"kc_pRMLydp0dQKr1","attributes":{"name":"my-cluster","status":"scaling","control_plane_count":3}}}},"UpgradingVersion":{"summary":"Version upgrade in progress","value":{"data":{"type":"kubernetes_clusters","id":"kc_pRMLydp0dQKr1","attributes":{"name":"my-cluster","status":"upgrading","kubernetes_version":"v1.35.0+rke2r1"}}}}},"schema":{"$ref":"#/components/schemas/kubernetes_cluster_update_response"}}}},"400":{"description":"Bad Request","content":{"application/vnd.api+json":{"examples":{"MissingParameter":{"summary":"No update parameter provided","value":{"errors":[{"code":"VALIDATION_ERROR","message":"worker_count, control_plane_count, or kubernetes_version is required"}]}},"ScalingMutualExclusion":{"summary":"Both worker_count and control_plane_count provided","value":{"errors":[{"code":"VALIDATION_ERROR","message":"cannot update control_plane_count and worker_count in the same request"}]}},"VersionWithScaling":{"summary":"Version upgrade combined with scaling","value":{"errors":[{"code":"VALIDATION_ERROR","message":"cannot combine kubernetes_version with scaling operations"}]}},"InvalidWorkerCountType":{"value":{"errors":[{"code":"VALIDATION_ERROR","message":"worker_count must be an integer"}]}},"InvalidControlPlaneCountType":{"summary":"Control plane count is not an integer","value":{"errors":[{"code":"VALIDATION_ERROR","message":"control_plane_count must be an integer"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"examples":{"InsufficientPermissions":{"value":{"errors":[{"code":"FORBIDDEN","message":"You don't have permission to perform this action"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"404":{"description":"Not Found","content":{"application/vnd.api+json":{"examples":{"ClusterNotFound":{"value":{"errors":[{"code":"NOT_FOUND","message":"Cluster my-cluster not found"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"422":{"description":"Unprocessable Entity","content":{"application/vnd.api+json":{"examples":{"ClusterNotReady":{"value":{"errors":[{"code":"VALIDATION_ERROR","message":"Cluster must be in Provisioned phase to accept updates (current phase: Provisioning)"}]}},"InvalidWorkerCount":{"value":{"errors":[{"code":"INVALID_WORKER_COUNT","message":"worker_count must be between 0 and 10"}]}},"WorkerPlanRequired":{"value":{"errors":[{"code":"WORKER_PLAN_REQUIRED","message":"worker_plan is required when scaling from 0 workers"}]}},"InvalidControlPlaneCount":{"summary":"Control plane count below minimum","value":{"errors":[{"code":"VALIDATION_ERROR","message":"control_plane_count must be at least 1"}]}},"InsufficientStock":{"value":{"errors":[{"code":"INSUFFICIENT_STOCK","message":"No stock available of plan suitable for Kubernetes cluster"}]}},"VersionDowngrade":{"summary":"Attempted to downgrade Kubernetes version","value":{"errors":[{"code":"VERSION_DOWNGRADE","message":"Cannot downgrade from v1.35.0+rke2r1 to v1.34.0+rke2r1"}]}},"MinorVersionSkip":{"summary":"Attempted to skip a minor version","value":{"errors":[{"code":"MINOR_VERSION_SKIP","message":"Cannot skip minor versions. Current: 1.34, target: 1.36. Upgrade to 1.35 first."}]}},"VersionNotAvailable":{"summary":"Target version not in available versions list","value":{"errors":[{"code":"VERSION_NOT_AVAILABLE","message":"Version v1.30.0+rke2r1 is not available for upgrade"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"503":{"description":"Service Unavailable","content":{"application/vnd.api+json":{"examples":{"ManagementClusterError":{"value":{"errors":[{"code":"MANAGEMENT_CLUSTER_ERROR","message":"Failed to communicate with the management cluster"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}}},"requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/update_kubernetes_cluster"},"examples":{"ScaleWorkersUp":{"summary":"Scale workers from 2 to 5","value":{"data":{"type":"kubernetes_clusters","attributes":{"worker_count":5}}}},"ScaleWorkersDown":{"summary":"Scale workers from 5 to 2","value":{"data":{"type":"kubernetes_clusters","attributes":{"worker_count":2}}}},"ScaleWorkersFromZero":{"summary":"Scale from 0 workers (requires worker_plan)","value":{"data":{"type":"kubernetes_clusters","attributes":{"worker_count":3,"worker_plan":"c3-small-x86"}}}},"ScaleWorkersToZero":{"summary":"Scale down to 0 workers","value":{"data":{"type":"kubernetes_clusters","attributes":{"worker_count":0}}}},"ScaleControlPlaneUp":{"summary":"Scale control plane from 1 to 3 nodes","value":{"data":{"type":"kubernetes_clusters","attributes":{"control_plane_count":3}}}},"ScaleControlPlaneDown":{"summary":"Scale control plane from 3 to 1 node","value":{"data":{"type":"kubernetes_clusters","attributes":{"control_plane_count":1}}}},"UpgradeVersion":{"summary":"Upgrade Kubernetes version","value":{"data":{"type":"kubernetes_clusters","attributes":{"kubernetes_version":"v1.35.0+rke2r1"}}}}}}},"required":true}}},
    "/kubernetes_clusters/{kubernetes_cluster_id}/kubeconfig": {"get":{"summary":"Get Kubernetes Cluster Kubeconfig","operationId":"get-kubernetes-cluster-kubeconfig","tags":["Kubernetes Clusters"],"security":[{"Bearer":[]}],"parameters":[{"name":"kubernetes_cluster_id","in":"path","required":true,"description":"The cluster ID (format: kc_<hash>) or cluster name. Both formats are accepted for backward compatibility.","schema":{"type":"string"}}],"description":"Retrieves the kubeconfig file for a Kubernetes cluster. The kubeconfig is only available once the cluster is fully provisioned.\n\n**Note:** Only users with the `owner`, `administrator`, or `collaborator` role can access cluster credentials. Users with the `billing` role cannot perform this action.\n","responses":{"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":{"type":"kubernetes_cluster_kubeconfigs","id":"kc_pRMLydp0dQKr1","attributes":{"cluster_name":"my-cluster","kubeconfig":"apiVersion: v1\nclusters:\n- cluster:\n    certificate-authority-data: LS0tLS1...\n    server: https://api.my-cluster.example.com:6443\n  name: my-cluster\ncontexts:\n- context:\n    cluster: my-cluster\n    user: my-cluster-admin\n  name: my-cluster\ncurrent-context: my-cluster\nkind: Config\nusers:\n- name: my-cluster-admin\n  user:\n    client-certificate-data: LS0tLS1...\n    client-key-data: LS0tLS1...\n"}}}}},"schema":{"$ref":"#/components/schemas/kubernetes_cluster_kubeconfig"}}}},"401":{"description":"Unauthorized","content":{"application/vnd.api+json":{"examples":{"InvalidToken":{"value":{"errors":[{"code":"UNAUTHORIZED","message":"Invalid token"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"403":{"description":"Forbidden","content":{"application/vnd.api+json":{"examples":{"FeatureNotEnabled":{"value":{"errors":[{"code":"FEATURE_NOT_ENABLED","message":"Managed Kubernetes is not enabled for this team"}]}},"InsufficientPermissions":{"value":{"errors":[{"code":"FORBIDDEN","message":"You are not authorized to perform this action"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}},"404":{"description":"Not Found","content":{"application/vnd.api+json":{"examples":{"KubeconfigNotFound":{"value":{"errors":[{"code":"NOT_FOUND","message":"Kubeconfig not found for cluster my-cluster"}]}}},"schema":{"$ref":"#/components/schemas/error_object"}}}}}}},
    "/plans": {"get":{
        "summary": "List plans",
        "operationId": "get-plans",
        "tags": ["Plans"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"filter[name]","in":"query","required":false,"description":"The plan name to filter by","schema":{"type":"string"}}, {"name":"filter[slug]","in":"query","required":false,"description":"The plan slug to filter by","schema":{"type":"string"}}, {"name":"filter[location]","in":"query","required":false,"description":"The location of the site to filter by","schema":{"type":"string"}}, {"name":"filter[stock_level]","in":"query","schema":{"type":"string","enum":["unavailable","low","medium","high","unique"]},"required":false,"description":"The stock level at the site to filter by"}, {"name":"filter[in_stock]","in":"query","required":false,"description":"The stock available at the site to filter by","schema":{"type":"boolean"}}, {"name":"filter[gpu]","in":"query","required":false,"description":"Filter by the existence of an associated GPU","schema":{"type":"boolean"}}, {"name":"filter[ram]","in":"query","required":false,"description":"The ram size in Gigabytes to filter by, should be used with the following options:\n                              [eql] to filter for values equal to the provided value.\n                              [gte] to filter for values greater or equal to the provided value.\n                              [lte] to filter by values lower or equal to the provided value.","schema":{"type":"integer"}}, {"name":"filter[disk]","in":"query","required":false,"description":"The disk size in Gigabytes to filter by, should be used with the following options:\n                              [eql] to filter for values equal to the provided value.\n                              [gte] to filter for values greater or equal to the provided value.\n                              [lte] to filter by values lower or equal to the provided value.","schema":{"type":"integer"}}],
        "description": "Lists all plans. Availability by region is included in `attributes.regions.locations.available[*]` node for a given plan.\n",
        "x-mint": {"href":"/api-reference/get-plans"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"plan_g1mbDw8BOLv5B","type":"plans","attributes":{"slug":"m4-metal-small-42","name":"m4.metal.small-42","features":[],"specs":{"cpu":{"type":"E-2276G","clock":3.8,"cores":6,"count":1},"memory":{"total":32},"drives":[{"count":1,"size":"3.8TB","type":"SSD"}],"nics":[{"count":1,"type":"10 Gbps"}],"gpu":{"count":4,"type":"NVIDIA H100","vram_per_gpu":null,"interconnect":null}},"regions":[{"name":"Brazil","deploys_instantly":[],"locations":{"available":["SAO"],"in_stock":["SAO"]},"stock_level":"medium","pricing":{"USD":{"hour":10.0,"month":50.0,"year":100.0},"BRL":{"hour":53.0,"month":108.5,"year":205.0}}}]}}],"meta":{}}}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/plan_data"}}}}}}}},
        "x-speakeasy-name-override": "list"
      }},
    "/plans/{plan_id}": {"get":{
        "summary": "Retrieve plan",
        "operationId": "get-plan",
        "tags": ["Plans"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"plan_id","in":"path","required":true,"examples":{"Success":{"value":"plan_RMLydp20DQKr1"}},"schema":{"type":"string"}}],
        "x-mint": {"href":"/api-reference/get-plan"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":{"id":"plan_RMLydp20DQKr1","type":"plans","attributes":{"slug":"g3-h100-medium-43","name":"g3.h100.medium-43","features":[],"specs":{"cpu":{"type":"E-2276G","clock":3.8,"cores":6,"count":1},"memory":{"total":32},"drives":[{"count":1,"size":"3.8TB","type":"SSD"}],"nics":[{"count":1,"type":"10 Gbps"}],"gpu":{"count":4,"type":"NVIDIA H100","vram_per_gpu":null,"interconnect":null}},"regions":[{"name":"Brazil","deploys_instantly":[],"locations":{"available":["SAO"],"in_stock":["SAO"]},"stock_level":"medium","pricing":{"USD":{"hour":10.0,"month":50.0,"year":100.0},"BRL":{"hour":53.0,"month":108.5,"year":205.0}}}]}},"meta":{}}}},"schema":{"$ref":"#/components/schemas/plan"}}}}},
        "x-speakeasy-name-override": "get"
      }},
    "/plans/bandwidth": {
      "get": {
        "summary": "List bandwidth plans",
        "operationId": "get-bandwidth-plans",
        "tags": ["Plans"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"API-Version","in":"header","schema":{"type":"string","default":"2023-06-01"},"examples":{"Success":{"value":"2023-06-01"}}}, {"name":"filter[id]","in":"query","required":false,"description":"The plan ID to filter by","schema":{"type":"string"}}, {"name":"page[size]","in":"query","schema":{"type":"integer","minimum":1,"default":20},"required":false,"description":"Number of items to return per page"}, {"name":"page[number]","in":"query","schema":{"type":"integer","minimum":1,"default":1},"required":false,"description":"Page number to return (starts at 1)"}],
        "description": "Lists all bandwidth plans.",
        "x-speakeasy-pagination": {"type":"offsetLimit","inputs":[{"name":"page[number]","in":"parameters","type":"page"}, {"name":"page[size]","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},
        "x-mint": {"href":"/api-reference/get-bandwidth-plans"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"chile-54","type":"bandwidth_plan","attributes":{"region":"Chile 54","locations":["ASH","SAO"],"pricing":{"usd":{"monthly":5000,"yearly":6000},"brl":{"monthly":8000,"yearly":null}}}}],"meta":{}}}},"schema":{"$ref":"#/components/schemas/bandwidth_plans"}}}}},
        "x-speakeasy-name-override": "getBandwidth"
      },
      "post": {
        "summary": "Update bandwidth packages",
        "operationId": "update-plans-bandwidth",
        "tags": ["Plans"],
        "security": [{"Bearer":[]}],
        "parameters": [],
        "description": "Allows to increase or decrease bandwidth packages. Only admins and owners can request.\n",
        "x-mint": {"href":"/api-reference/update-plans-bandwidth"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":{"type":"bandwidth_packages","attributes":{"project":{"id":"proj_z2A3DVZ3DnawP","name":"Orn-Reilly","slug":"orn-reilly"},"packages":[{"region_slug":"united-states","unit_price":0.5,"currency":"USD","contracted":10,"total_price":5.0}, {"region_slug":"brazil","unit_price":4.6,"currency":"USD","contracted":0,"total_price":0.0}]}}}}},"schema":{"$ref":"#/components/schemas/bandwidth_packages"}}}}},
        "requestBody": {"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["bandwidth_packages"]},"attributes":{"type":"object","properties":{"project":{"type":"string","description":"The project (ID or Slug) to add bandwidth"},"quantity":{"type":"integer","description":"The total amount you want to have"},"region_slug":{"type":"string","description":"The region to add bandwidth"}}}}}}},"examples":{"Success":{"summary":"Success","value":{"data":{"type":"bandwidth_packages","attributes":{"project":"proj_z2A3DVZ3DnawP","region_slug":"brazil","quantity":5}}}}}},"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["bandwidth_packages"]},"attributes":{"type":"object","properties":{"project":{"type":"string","description":"The project (ID or Slug) to add bandwidth"},"quantity":{"type":"integer","description":"The total amount you want to have"},"region_slug":{"type":"string","description":"The region to add bandwidth"}}}}}}},"examples":{"Success":{"summary":"Success","value":{"data":{"type":"bandwidth_packages","attributes":{"project":"proj_z2A3DVZ3DnawP","region_slug":"brazil","quantity":5}}}}}}},"required":true},
        "x-speakeasy-name-override": "updateBandwidth"
      }
    },
    "/plans/storage": {"get":{
        "summary": "List storage plans",
        "operationId": "get-storage-plans",
        "tags": ["Plans"],
        "security": [{"Bearer":[]}],
        "x-mint": {"href":"/api-reference/get-storage-plans"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"plan_059EqY7kOQj8p","type":"storage_plans","attributes":{"name":"Filesystem","regions":[{"name":"United States","locations":["DAL"],"pricing":{"USD":{"month":0.12},"BRL":{"month":0.68}}}]}}]}}},"schema":{"$ref":"#/components/schemas/storage_plans"}}}}},
        "x-speakeasy-name-override": "listStorage"
      }},
    "/plans/virtual_machines": {"get":{
        "summary": "List VM plans",
        "operationId": "get-vm-plans",
        "tags": ["Plans"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"filter[gpu]","in":"query","required":false,"description":"Filter plans by GPU availability","schema":{"type":"boolean"}}],
        "x-mint": {"href":"/api-reference/get-vm-plans"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"plan_aNmodj4eDbE8W","type":"virtual_machine_plans","attributes":{"name":"vm.l40s.tiny","specs":{"memory":16,"gpu":"NVIDIA H100 Tensor Core GPU","vram_per_gpu":80,"vcpus":14,"vcpu":{"count":14,"clock":3.8,"type":"Intel Xeon"},"nics":[{"type":"1 Gbps","count":"1"}],"disk":{"type":"local NVMe","size":{"amount":150,"unit":"gib"}}},"regions":[{"name":"United States","locations":{"available":["DAL"],"in_stock":["DAL"]},"stock_level":"low","pricing":{"USD":{"hour":1.0,"month":720.0,"year":8640.0},"BRL":{"hour":1.0,"month":720.0,"year":8640.0}}}],"stock_level":"low","available_operating_systems":["ubuntu_24_04_x64_lts","debian_13","rocky_10","almalinux_10"]}}]}}},"schema":{"$ref":"#/components/schemas/virtual_machine_plans"}}}}},
        "x-speakeasy-group": "plans.vm",
        "x-speakeasy-name-override": "list"
      }},
    "/projects": {
      "get": {
        "summary": "List projects",
        "operationId": "get-projects",
        "tags": ["Projects"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"filter[name]","in":"query","required":false,"description":"The project name to filter by","schema":{"type":"string"}}, {"name":"filter[slug]","in":"query","required":false,"description":"The project slug to filter by","schema":{"type":"string"}}, {"name":"filter[description]","in":"query","required":false,"description":"The project description to filter by","schema":{"type":"string"}}, {"name":"filter[billing_type]","in":"query","required":false,"description":"The billing type to filter by","schema":{"type":"string"}}, {"name":"filter[environment]","in":"query","required":false,"description":"The environment to filter by","schema":{"type":"string"}}, {"name":"filter[tags]","in":"query","required":false,"description":"The tags ids to filter by, separated by comma, e.g. `filter[tags]=tag_1,tag_2`will return projects with `tag_1` AND `tag_2`","schema":{"type":"string"},"examples":{"Success":{"value":"tag_GXeww714mRF2gZ05lnKgU8emo5RE,tag_QQkaK9JnV6tWwPG3pmLviXveVK0Y"}}}, {"name":"extra_fields[projects]","in":"query","required":false,"description":"The `last_renewal_date` and `next_renewal_date` are provided as extra attributes that show previous and future billing cycle dates. To request it, just set `extra_fields[projects]=last_renewal_date,next_renewal_date` in the query string.","schema":{"type":"string"}}, {"name":"page[size]","in":"query","schema":{"type":"integer","minimum":1,"default":20},"required":false,"description":"Number of items to return per page"}, {"name":"page[number]","in":"query","schema":{"type":"integer","minimum":1,"default":1},"required":false,"description":"Page number to return (starts at 1)"}],
        "description": "Returns a list of all projects for the current team\n",
        "x-speakeasy-pagination": {"type":"offsetLimit","inputs":[{"name":"page[number]","in":"parameters","type":"page"}, {"name":"page[size]","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},
        "x-mint": {"href":"/api-reference/get-projects"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":[{"id":"proj_WeGoqAanqP7nz","type":"projects","attributes":{"tags":[{"id":"tag_GXeww714mRF2gZ05lnKgU8emo5RE","name":"tag1","description":"Sunt dolorem inventore maxime.","color":"#2d6767"}, {"id":"tag_QQkaK9JnV6tWwPG3pmLviXveVK0Y","name":"tag2","description":"Et occaecati quod ex.","color":"#182f18"}],"name":"Durable Iron Gloves","slug":"durable-iron-gloves","description":"Heavy Duty Steel Computer","billing_type":"Hourly","cost":null,"billing_method":"Normal","bandwidth_alert":false,"environment":null,"provisioning_type":"on_demand","billing":{},"team":{"id":"team_w03a5zVl9XsXVybw2gz7SNr1el2","name":"176 Team","slug":"176-team","description":"176 Team","address":"3253 VonRueden Creek, Jcbury, NV 21576","currency":{"id":"cur_AW6Q2D9lqKLpr","code":"BRL","name":"Brazilian Real","currency_id":null},"status":"verified","feature_flags":[],"limits":{"bare_metal":null,"bare_metal_gpu":1,"virtual_machine":5,"virtual_machine_gpu":3,"virtual_network":5,"database":null,"filesystem":null,"block_storage":null}},"stats":{"databases":0,"ip_addresses":0,"prefixes":0,"servers":0,"storages":0,"virtual_machines":0,"vlans":0},"created_at":"2026-01-14T15:56:39+00:00","updated_at":"2026-01-14T15:56:39+00:00"}}],"meta":{}}}},"schema":{"$ref":"#/components/schemas/projects"}}}}},
        "x-speakeasy-name-override": "list"
      },
      "post": {
        "summary": "Create project",
        "operationId": "create-project",
        "tags": ["Projects"],
        "security": [{"Bearer":[]}],
        "parameters": [],
        "x-mint": {"href":"/api-reference/create-project"},
        "responses": {"201":{"description":"Created","content":{"application/vnd.api+json":{"examples":{"Created":{"value":{"data":{"id":"proj_0L6WO156OPlXy","type":"projects","attributes":{"tags":[],"name":"Bailey and Sons","slug":"bailey-and-sons","description":"Thick slices of French toast bread, brown sugar, half-and-half and vanilla, topped with powdered sugar. With two eggs served any style, and your choice of smoked bacon or smoked ham.","bandwidth_alert":null,"environment":"Development","provisioning_type":"on_demand","billing_type":"Normal","billing_method":"Normal","billing":{"subscription_id":"sub_wj7zk7mu35c2yq","type":"Normal","method":"Normal"},"team":{"id":"team_72lL07N6leClEozwoxe9UVap9Aw","name":"179 Team","slug":"179-team","description":"179 Team","address":"Suite 460 74321 Nana Locks, Crystalport, TN 35908","currency":{"id":"cur_AW6Q2D9lqKLpr","code":"BRL","name":"Brazilian Real","currency_id":null},"status":"verified","feature_flags":[],"limits":{"bare_metal":5,"bare_metal_gpu":1,"virtual_machine":5,"virtual_machine_gpu":3,"virtual_network":5,"database":null,"filesystem":null,"block_storage":null}},"stats":{"databases":0,"ip_addresses":0,"prefixes":0,"servers":0,"storages":0,"virtual_machines":0,"vlans":0},"created_at":"2026-01-14T15:56:39+00:00","updated_at":"2026-01-14T15:56:39+00:00"}},"meta":{}}}},"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/project"}}}}}}},
        "requestBody": {"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["projects"]},"attributes":{"type":"object","properties":{"name":{"type":"string","description":"The project name. Must be unique."},"provisioning_type":{"type":"string","description":"The provisioning type of the project. Default: on_demand","enum":["reserved","on_demand"]},"description":{"type":"string","description":"The project description."},"environment":{"type":"string","enum":["Development","Staging","Production"]}},"required":["name","provisioning_type"]}},"required":["type"]}}},"examples":{"Created":{"summary":"Created","value":{"data":{"type":"projects","attributes":{"name":"Bailey and Sons","description":"Thick slices of French toast bread, brown sugar, half-and-half and vanilla, topped with powdered sugar. With two eggs served any style, and your choice of smoked bacon or smoked ham.","environment":"Development","provisioning_type":"on_demand"}}}}}},"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["projects"]},"attributes":{"type":"object","properties":{"name":{"type":"string","description":"The project name. Must be unique."},"provisioning_type":{"type":"string","description":"The provisioning type of the project. Default: on_demand","enum":["reserved","on_demand"]},"description":{"type":"string","description":"The project description."},"environment":{"type":"string","enum":["Development","Staging","Production"]}},"required":["name","provisioning_type"]}},"required":["type"]}}},"examples":{"Created":{"summary":"Created","value":{"data":{"type":"projects","attributes":{"name":"Bailey and Sons","description":"Thick slices of French toast bread, brown sugar, half-and-half and vanilla, topped with powdered sugar. With two eggs served any style, and your choice of smoked bacon or smoked ham.","environment":"Development","provisioning_type":"on_demand"}}}}}}},"required":true},
        "x-speakeasy-name-override": "create"
      }
    },
    "/projects/{project_id}": {
      "patch": {
        "summary": "Update project",
        "operationId": "update-project",
        "tags": ["Projects"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"project_id","in":"path","description":"The project ID or Slug","required":true,"examples":{"Success":{"value":"proj_Gr47qleMDAg0m"}},"schema":{"type":"string"}}],
        "x-mint": {"href":"/api-reference/update-project"},
        "responses": {"200":{"description":"Success","content":{"application/vnd.api+json":{"examples":{"Success":{"value":{"data":{"id":"proj_Gr47qleMDAg0m","type":"projects","attributes":{"tags":[{"id":"tag_VgrmvzlEGJhbGYv0z8YzHLa9PKV","name":"Ted Sandyman","description":"Corporis nostrum praesentium deleniti.","color":"#020302"}, {"id":"tag_PEAMyKnQZEHpGAWKMpB6F7EVYyYj","name":"Erchirion","description":"Corporis quos sequi mollitia.","color":"#0d4e4e"}],"name":"Moore-Durgan","slug":"moore-durgan","description":"Sequi occaecati eaque exercitationem.","bandwidth_alert":true,"environment":"Production","provisioning_type":"on_demand","billing_type":"Normal","billing_method":"Normal","billing":{"subscription_id":"sub_5sst6soyu2lzm0","type":"Normal","method":"Normal"},"team":{"id":"team_mygwarnav0hG97b9393biKZxall","name":"198 Team","slug":"198-team","description":"198 Team","address":"Apt. 401 9373 Gregg Islands, Cassinmouth, NC 33577-6685","currency":{"id":"cur_AW6Q2D9lqKLpr","code":"BRL","name":"Brazilian Real","currency_id":null},"status":"verified","feature_flags":[],"limits":{"bare_metal":5,"bare_metal_gpu":1,"virtual_machine":5,"virtual_machine_gpu":3,"virtual_network":5,"database":null,"filesystem":null,"block_storage":null}},"stats":{"databases":0,"ip_addresses":0,"prefixes":0,"servers":0,"storages":0,"virtual_machines":0,"vlans":0},"created_at":"2026-01-14T15:56:40+00:00","updated_at":"2026-01-14T15:56:40+00:00"}},"meta":{}}}},"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/project"}}}}}}},
        "requestBody": {"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","default":"proj_81EVOtR1N4J2Z"},"type":{"type":"string","enum":["projects"]},"attributes":{"type":"object","properties":{"name":{"type":"string","default":"A brand new name for the virtual network"},"description":{"type":"string","default":"A brand new description for the virtual network"},"environment":{"type":"string","enum":["Development","Staging","Production"]},"bandwidth_alert":{"type":"boolean","default":false},"tags":{"type":"array","items":{"type":"string"},"default":[]}}}},"required":["id","type"]}},"required":["data"]},"examples":{"Success":{"summary":"Success","value":{"data":{"id":"proj_Gr47qleMDAg0m","type":"projects","attributes":{"tags":["tag_VgrmvzlEGJhbGYv0z8YzHLa9PKV","tag_PEAMyKnQZEHpGAWKMpB6F7EVYyYj"]}}}}}},"application/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","default":"proj_81EVOtR1N4J2Z"},"type":{"type":"string","enum":["projects"]},"attributes":{"type":"object","properties":{"name":{"type":"string","default":"A brand new name for the virtual network"},"description":{"type":"string","default":"A brand new description for the virtual network"},"environment":{"type":"string","enum":["Development","Staging","Production"]},"bandwidth_alert":{"type":"boolean","default":false},"tags":{"type":"array","items":{"type":"string"},"default":[]}}}},"required":["id","type"]}},"required":["data"]},"examples":{"Success":{"summary":"Success","value":{"data":{"id":"proj_Gr47qleMDAg0m","type":"projects","attributes":{"tags":["tag_VgrmvzlEGJhbGYv0z8YzHLa9PKV","tag_PEAMyKnQZEHpGAWKMpB6F7EVYyYj"]}}}}}}}},
        "x-speakeasy-name-override": "update"
      },
      "delete": {
        "summary": "Delete project",
        "description": "Deletes a project and releases associated resources. Any Elastic IPs assigned to the project are automatically released and returned to the available pool.",
        "operationId": "delete-project",
        "tags": ["Projects"],
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"project_id","in":"path","description":"The project ID or Slug","required":true,"schema":{"type":"string"}}],
        "x-mint": {"href":"/api-reference/delete-project"},
        "responses": {"204":{"description":"No Content"}},
        "x-speakeasy-name-override": "delete"
      }
    },
    "/projects/{project_id}/ssh_keys": {
      "get": {
        "summary": "List SSH Keys",
        "operationId": "get-project-ssh-keys",
        "tags": ["SSH Keys"],
        "deprecated": true,
        "security": [{"Bearer":[]}],
        "parameters": [{"name":"project_id","in":"path","description":"Project ID or Slug","required":true,"examples":{"Success":{"value":"proj_5AEmq7wMqBkWX"}},"schema":{"type":"string"}}, {"name":"filter[tags]","in":"query","required":false,"description":"The tags ids to filter by, separated by comma, e.g. `filter[tags]=tag_1,tag_2`will return ssh keys with `tag_1` AND `tag_2`","examples":{"Success":{"value":"tag_5wKQ2Y9eoAi5plr4zlQ6tjl6rEw,tag_8GKKZ6B9MbtYl4K09gj4fXy9Nneg"}},"schema":{"type":"string"}}],
        "description": "List all SSH Keys in the project. These keys can be used to access servers after deploy and reinstall actions.\n",
        "x-mint": {"href":"/api-reference/get-project-ssh-keys"},
[...]
