{"openapi": "3.0.1", "info": {"title": "Latitude.sh API", "version": "2023-06-01", "description": "The Latitude.sh API is a RESTful API to manage your Latitude.sh account. It allows you to perform the same actions as the Latitude.sh dashboard."}, "servers": [{"url": "https://api.latitude.sh", "variables": {"latitude_api_key": {"default": "<insert your api key here>"}}}, {"url": "http://api.latitude.sh", "variables": {"latitude_api_key": {"default": "<insert your api key here>"}}}], "tags": [{"name": "API Keys"}, {"name": "Billing"}, {"name": "Events"}, {"name": "Firewalls"}, {"name": "IP Addresses"}, {"name": "Operating Systems"}, {"name": "Plans"}, {"name": "Private Networks"}, {"name": "Projects"}, {"name": "Regions"}, {"name": "Roles"}, {"name": "SSH Keys"}, {"name": "Servers"}, {"name": "Storage"}, {"name": "Tags"}, {"name": "Teams"}, {"name": "Teams Members"}, {"name": "Traffic"}, {"name": "User Data"}, {"name": "User Profile"}, {"name": "VPN Sessions"}, {"name": "Virtual Machines"}], "paths": {"/auth/api_keys": {"get": {"summary": "List API Keys", "operationId": "get-api-keys", "tags": ["API Keys"], "security": [{"Bearer": []}], "description": "Returns a list of all API keys from the team members\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "tok_6VE1Wd37dXnZJ", "type": "api_keys", "attributes": {"name": "North Moors", "token_last_slice": "763be", "api_version": "2023-06-01", "created_at": "2025-07-16T18:36:26+00:00", "updated_at": "2025-07-16T17:36:26+00:00", "last_used_at": null, "user": {"id": "user_NYNl38rzNzs4KXL96apwU3WJ5oX8", "email": "jed.windler@rice.test"}}}], "meta": {}}}}, "schema": {"$ref": "#/components/schemas/api_key"}}}}}, "x-speakeasy-group": "apiKeys", "x-speakeasy-name-override": "list"}, "post": {"summary": "Create API Key", "operationId": "post-api-key", "tags": ["API Keys"], "security": [{"Bearer": []}], "parameters": [], "description": "Create a new API Key that is tied to the current user account. The created API key is only listed ONCE upon creation. It can however be regenerated or deleted.\n", "responses": {"201": {"description": "Created", "content": {"application/vnd.api+json": {"examples": {"Created": {"value": {"data": {"id": "tok_ez2A3DVldnawP", "type": "api_keys", "attributes": {"name": "App Token", "token": "38d2bcabe06f43d93dc99c672a1b4ae2c5bc", "token_last_slice": "2c5bc", "api_version": "2023-06-01", "created_at": "2025-07-16T18:36:26+00:00", "updated_at": "2025-07-16T18:36:26+00:00", "last_used_at": null, "user": {"id": "user_W3oeKxYvbWIQlBGElMVWsrK2Qyw", "email": "harold@abshire.example"}}}, "meta": {}}}}, "schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/api_key"}}}}}}}, "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/create_api_key"}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "api_keys", "attributes": {"name": "App Token"}}}}}}, "application/vnd.api+json": {"schema": {"$ref": "#/components/schemas/create_api_key"}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "api_keys", "attributes": {"name": "App Token"}}}}}}}, "required": true}, "x-speakeasy-group": "apiKeys", "x-speakeasy-name-override": "create"}}, "/auth/api_keys/{api_key_id}": {"put": {"summary": "Regenerate API Key", "operationId": "update-api-key", "tags": ["API Keys"], "security": [{"Bearer": []}], "parameters": [{"name": "api_key_id", "in": "path", "required": true, "examples": {"Success": {"value": "tok_zlkg1DegdvZE5"}}, "schema": {"type": "string"}}], "description": "Regenerate an existing API Key that is tied to the current user. This overrides the previous key.\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"id": "tok_zlkg1DegdvZE5", "type": "api_keys", "attributes": {"name": "App Token", "token": "1f9c08588ffa63fcd6e522f091dff08e0fd0", "token_last_slice": "e0fd0", "api_version": "2023-06-01", "created_at": "2025-07-16T18:36:27+00:00", "updated_at": "2025-07-16T18:36:27+00:00", "last_used_at": null, "user": {"id": "user_Lp2QwzbxephLaWxAnwpouknrPzm", "email": "leland_kutch@hayes-beatty.test"}}}, "meta": {}}}}, "schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/api_key"}}}}}}}, "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/update_api_key"}, "examples": {"Success": {"summary": "Success", "value": {"data": {"id": "tok_zlkg1DegdvZE5", "type": "api_keys", "attributes": {"name": "App Token"}}}}}}, "application/vnd.api+json": {"schema": {"$ref": "#/components/schemas/update_api_key"}, "examples": {"Success": {"summary": "Success", "value": {"data": {"id": "tok_zlkg1DegdvZE5", "type": "api_keys", "attributes": {"name": "App Token"}}}}}}}, "required": true}, "x-speakeasy-group": "apiKeys", "x-speakeasy-name-override": "update"}, "delete": {"summary": "Delete API Key", "operationId": "delete-api-key", "tags": ["API Keys"], "parameters": [{"name": "api_key_id", "in": "path", "required": true, "examples": {"Success": {"value": "tok_x1ZJrdx5qg4LV"}}, "schema": {"type": "string"}}], "security": [{"Bearer": []}], "description": "Delete an existing API Key. Once deleted, the API Key can no longer be used to access the API.\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"meta": {}}}}}}}}, "x-speakeasy-group": "apiKeys", "x-speakeasy-name-override": "delete"}}, "/billing/usage": {"get": {"summary": "List Billing Usage", "operationId": "get-billing-usage", "tags": ["Billing"], "security": [{"Bearer": []}], "parameters": [{"name": "filter[products][]", "in": "query", "schema": {"type": "array", "items": {"type": "string"}}, "required": false, "description": "Allows to filter the billing usage for specific products. It accepts an array of product ids.\n", "examples": {"Success": {"value": ["si_lvdub7r3", "si_utp5nfrf"]}}}, {"name": "filter[plan]", "in": "query", "required": false, "description": "Accepts a plan name and allows to filter the usage for that plan.\n", "schema": {"type": "string"}, "examples": {"Success": {"value": "plan.name"}}}, {"name": "filter[project]", "in": "query", "required": true, "examples": {"Success": {"value": "proj_6059EqYkOQj8p"}}, "schema": {"type": "string"}}], "description": "Returns the billing usage of a project\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"id": "", "type": "billing_usage", "attributes": {"project": {"id": "proj_6059EqYkOQj8p", "slug": "ergonomic-marble-shoes", "name": "Ergonomic Marble Shoes"}, "period": {"start": "2025-06-25T18:36:28+00:00", "end": "2025-07-26T18:36:28+00:00"}, "available_credit_balance": 123, "amount": 0, "price": 0, "products": [], "threshold": 10000}}, "meta": {}}}}, "schema": {"$ref": "#/components/schemas/billing_usage"}}}}}, "x-speakeasy-name-override": "listUsage"}}, "/events": {"get": {"summary": "List all Events", "operationId": "get-events", "tags": ["Events"], "security": [{"Bearer": []}], "parameters": [{"name": "filter[author]", "in": "query", "required": false, "description": "The author ID or email to filter by", "schema": {"type": "string"}}, {"name": "filter[project]", "in": "query", "required": false, "description": "The project ID to filter by", "schema": {"type": "string"}}, {"name": "filter[target_name]", "in": "query", "schema": {"type": "array", "items": {"type": "string"}}, "required": false, "description": "The target type(s) of the event to filter by"}, {"name": "filter[target_id]", "in": "query", "required": false, "description": "The target id of the event to filter by", "schema": {"type": "string"}}, {"name": "filter[action]", "in": "query", "required": false, "description": "The action performed in event to filter by", "schema": {"type": "string"}}, {"name": "filter[created_at][gte]", "in": "query", "required": false, "description": "The created at greater than equal date to filter by, in ISO formatting (yyyy-MM-dd'T'HH:mm:ss)", "schema": {"type": "string"}}, {"name": "filter[created_at][lte]", "in": "query", "required": false, "description": "The created at less than equal date to filter by, in ISO formatting (yyyy-MM-dd'T'HH:mm:ss)", "schema": {"type": "string"}}, {"name": "filter[created_at]", "in": "query", "schema": {"type": "array", "items": {"type": "string"}}, "required": false, "description": "The created at between date range date1, date2 (inclusive) to filter by, in ISO formatting (yyyy-MM-dd'T'HH:mm:ss)"}, {"name": "page[size]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 20}, "required": false, "description": "Number of items to return per page"}, {"name": "page[number]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "required": false, "description": "Page number to return (starts at 1)"}], "description": "Lists all events.\n", "x-speakeasy-pagination": {"type": "offsetLimit", "inputs": [{"name": "page[number]", "in": "parameters", "type": "page"}, {"name": "page[size]", "in": "parameters", "type": "limit"}], "outputs": {"results": "$.data"}}, "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "evt_pRMLydp0dQKr1", "type": "events", "attributes": {"created_at": "2025-07-16T18:36:28+00:00", "action": "user_data.create", "target": {"id": "ud_QraYDPm5OpjwW", "name": "user_data"}, "project": {"id": "proj_VaNmodjeObE8W", "name": "Lightweight Bronze Chair", "slug": "lightweight-bronze-chair"}, "team": {"id": "team_krz2YoXG1RFN6bjpbx1XCl4oAV0", "name": "28 Team"}, "author": {"id": "user_NvP5m4723VH4lwKe4xzYIR3Y3N9", "name": "Bette Klein", "email": "precious_simonis@hansen.example"}}}], "meta": {}}}}, "schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/events"}}}}}}}}, "x-speakeasy-name-override": "list"}}, "/firewalls/assignments": {"get": {"summary": "List All Firewall Assignments", "operationId": "get-all-firewall-assignments", "description": "List all firewall assignments", "tags": ["Firewalls"], "security": [{"Bearer": []}], "parameters": [{"name": "filter[server]", "in": "query", "required": false, "description": "The server ID to filter by", "schema": {"type": "string"}, "examples": {"Success": {"value": "sv_RLYV8DZ2D5QoE"}}}, {"name": "page[size]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 20}, "required": false, "description": "Number of items to return per page"}, {"name": "page[number]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "required": false, "description": "Page number to return (starts at 1)"}], "x-speakeasy-pagination": {"type": "offsetLimit", "inputs": [{"name": "page[number]", "in": "parameters", "type": "page"}, {"name": "page[size]", "in": "parameters", "type": "limit"}], "outputs": {"results": "$.data"}}, "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "fwasg_zGr47qlMDAg0m", "type": "firewall_assignments", "attributes": {"server": {"id": "sv_RLYV8DZ2D5QoE", "hostname": "Synergistic Steel Car", "primary_ipv4": "102.29.146.162"}, "firewall": {"id": "fw_pRMLydp0dQKr1", "name": "Bashirian-Kohler"}}}, {"id": "fwasg_w5AEmq7XDBkWX", "type": "firewall_assignments", "attributes": {"server": {"id": "sv_RLYV8DZ2D5QoE", "hostname": "Synergistic Steel Car", "primary_ipv4": "102.29.146.162"}, "firewall": {"id": "fw_zGr47qlMDAg0m", "name": "Hilll LLC"}}}]}}}, "schema": {"$ref": "#/components/schemas/firewall_assignments"}}}}}}}, "/firewalls": {"post": {"summary": "Create a firewall", "operationId": "create-firewall", "description": "Create a firewall", "tags": ["Firewalls"], "security": [{"Bearer": []}], "parameters": [], "responses": {"201": {"description": "Created", "content": {"application/vnd.api+json": {"examples": {"Created": {"value": {"data": {"id": "fw_VLMmAD8EOwop2", "type": "firewalls", "attributes": {"name": "my-firewall", "project": {"id": "proj_6A05EdQ1dvKYQ", "name": "Awesome Granite Chair", "slug": "awesome-granite-chair"}, "rules": [{"from": "ANY", "to": "ANY", "port": "22", "protocol": "TCP", "default": true}, {"from": "192.168.42.73", "to": "192.168.43.51", "port": "80", "protocol": "TCP", "default": false}, {"from": "192.168.1.0/24", "to": "ANY", "port": "80", "protocol": "TCP", "default": false}, {"from": "192.168.1.10", "to": "192.168.1.20", "port": "3000-4000", "protocol": "UDP", "default": false}]}}}}}, "schema": {"$ref": "#/components/schemas/firewall"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["firewalls"]}, "attributes": {"type": "object", "properties": {"name": {"type": "string"}, "project": {"type": "string"}, "rules": {"type": "array", "items": {"type": "object", "properties": {"from": {"type": "string", "description": "Source IP address, IP range in CIDR notation, or 'ANY' (e.g., \"192.168.1.1\", \"192.168.1.0/24\", \"ANY\")"}, "to": {"type": "string", "description": "Destination IP address, IP range in CIDR notation, or 'ANY' (e.g., \"192.168.1.1\", \"192.168.1.0/24\", \"ANY\")"}, "protocol": {"type": "string", "enum": ["TCP", "UDP"]}, "port": {"type": "string", "description": "Port number or range (e.g., \"80\", \"80-443\")"}}}}}, "required": ["name", "project"]}}, "required": ["type"]}}, "required": ["data"]}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "firewalls", "attributes": {"name": "my-firewall", "project": "awesome-granite-chair", "rules": [{"from": "192.168.42.73", "to": "192.168.43.51", "port": 80, "protocol": "TCP"}, {"from": "192.168.1.0/24", "to": "ANY", "port": "80", "protocol": "TCP"}, {"from": "192.168.1.10", "to": "192.168.1.20", "port": "3000-4000", "protocol": "UDP"}]}}}}}}, "application/vnd.api+json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["firewalls"]}, "attributes": {"type": "object", "properties": {"name": {"type": "string"}, "project": {"type": "string"}, "rules": {"type": "array", "items": {"type": "object", "properties": {"from": {"type": "string", "description": "Source IP address, IP range in CIDR notation, or 'ANY' (e.g., \"192.168.1.1\", \"192.168.1.0/24\", \"ANY\")"}, "to": {"type": "string", "description": "Destination IP address, IP range in CIDR notation, or 'ANY' (e.g., \"192.168.1.1\", \"192.168.1.0/24\", \"ANY\")"}, "protocol": {"type": "string", "enum": ["TCP", "UDP"]}, "port": {"type": "string", "description": "Port number or range (e.g., \"80\", \"80-443\")"}}}}}, "required": ["name", "project"]}}, "required": ["type"]}}, "required": ["data"]}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "firewalls", "attributes": {"name": "my-firewall", "project": "awesome-granite-chair", "rules": [{"from": "192.168.42.73", "to": "192.168.43.51", "port": 80, "protocol": "TCP"}, {"from": "192.168.1.0/24", "to": "ANY", "port": "80", "protocol": "TCP"}, {"from": "192.168.1.10", "to": "192.168.1.20", "port": "3000-4000", "protocol": "UDP"}]}}}}}}}, "required": true}, "x-speakeasy-name-override": "create"}, "get": {"summary": "List firewalls", "operationId": "list-firewalls", "description": "List firewalls", "tags": ["Firewalls"], "security": [{"Bearer": []}], "parameters": [{"name": "filter[project]", "in": "query", "required": false, "schema": {"type": "string"}, "examples": {"Success": {"value": "incredible-bronze-car"}}}, {"name": "page[size]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 20}, "required": false, "description": "Number of items to return per page"}, {"name": "page[number]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "required": false, "description": "Page number to return (starts at 1)"}], "x-speakeasy-pagination": {"type": "offsetLimit", "inputs": [{"name": "page[number]", "in": "parameters", "type": "page"}, {"name": "page[size]", "in": "parameters", "type": "limit"}], "outputs": {"results": "$.data"}}, "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "fw_w5AEmq7XDBkWX", "type": "firewalls", "attributes": {"name": "Greenfelder-Brekke", "project": {"id": "proj_x1ZJrdx5qg4LV", "name": "Incredible Bronze Car", "slug": "incredible-bronze-car"}, "rules": [{"from": "92.95.228.250", "to": "43.35.45.108", "port": "80", "protocol": "TCP", "default": false}]}}]}}}, "schema": {"$ref": "#/components/schemas/firewalls"}}}}}, "x-speakeasy-name-override": "list"}}, "/firewalls/{firewall_id}": {"get": {"summary": "Retrieve Firewall", "operationId": "get-firewall", "description": "Retrieve a firewall", "tags": ["Firewalls"], "security": [{"Bearer": []}], "parameters": [{"name": "firewall_id", "in": "path", "description": "The Firewall ID", "required": true, "examples": {"Success": {"value": "fw_xkjQwdENqYNVP"}}, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"id": "fw_xkjQwdENqYNVP", "type": "firewalls", "attributes": {"name": "Batz Inc", "project": {"id": "proj_Av9BVDavORm1W", "name": "Heavy Duty Paper Hat", "slug": "heavy-duty-paper-hat"}, "rules": [{"from": "217.160.173.14", "to": "99.87.69.88", "port": "80", "protocol": "TCP", "default": false}, {"from": "79.209.217.107", "to": "224.13.187.5", "port": "80", "protocol": "TCP", "default": false}]}}}}}, "schema": {"$ref": "#/components/schemas/firewall"}}}}}, "x-speakeasy-name-override": "get"}, "patch": {"summary": "Update Firewall", "operationId": "update-firewall", "description": "Update a firewall", "tags": ["Firewalls"], "security": [{"Bearer": []}], "parameters": [{"name": "firewall_id", "in": "path", "description": "The Firewall ID", "required": true, "examples": {"Success": {"value": "fw_6A05EdQ1dvKYQ"}}, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"id": "fw_6A05EdQ1dvKYQ", "type": "firewalls", "attributes": {"name": "new-name", "project": {"id": "proj_Ee8pKq05DWAob", "name": "Small Wooden Chair", "slug": "small-wooden-chair"}, "rules": [{"from": "192.168.1.0/24", "to": "ANY", "port": "80", "protocol": "TCP", "default": false}]}}}}}, "schema": {"$ref": "#/components/schemas/firewall"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["firewalls"]}, "attributes": {"type": "object", "properties": {"name": {"type": "string"}, "rules": {"type": "array", "items": {"type": "object", "properties": {"from": {"type": "string"}, "to": {"type": "string"}, "protocol": {"type": "string", "enum": ["TCP", "UDP"]}, "port": {"type": "string", "description": "Port number or range (e.g., \"80\", \"80-443\")"}}}}}}}, "required": ["type"]}}, "required": ["data"]}, "examples": {"Success": {"summary": "Success", "value": {"data": {"type": "firewalls", "attributes": {"name": "new-name", "rules": [{"from": "192.168.1.0/24", "to": "ANY", "port": 80, "protocol": "TCP"}]}}}}}}, "application/vnd.api+json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["firewalls"]}, "attributes": {"type": "object", "properties": {"name": {"type": "string"}, "rules": {"type": "array", "items": {"type": "object", "properties": {"from": {"type": "string"}, "to": {"type": "string"}, "protocol": {"type": "string", "enum": ["TCP", "UDP"]}, "port": {"type": "string", "description": "Port number or range (e.g., \"80\", \"80-443\")"}}}}}}}, "required": ["type"]}}, "required": ["data"]}, "examples": {"Success": {"summary": "Success", "value": {"data": {"type": "firewalls", "attributes": {"name": "new-name", "rules": [{"from": "192.168.1.0/24", "to": "ANY", "port": 80, "protocol": "TCP"}]}}}}}}}, "required": true}, "x-speakeasy-name-override": "update"}, "delete": {"summary": "Delete Firewall", "operationId": "delete-firewall", "description": "Delete a firewall", "tags": ["Firewalls"], "security": [{"Bearer": []}], "parameters": [{"name": "firewall_id", "in": "path", "description": "The Firewall ID", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}}, "x-speakeasy-name-override": "delete"}}, "/firewalls/{firewall_id}/assignments": {"post": {"summary": "Firewall Assignment", "operationId": "create-firewall-assignment", "description": "Assign a server to a firewall", "tags": ["Firewalls"], "security": [{"Bearer": []}], "parameters": [{"name": "firewall_id", "in": "path", "description": "The Firewall ID", "required": true, "examples": {"Created": {"value": "fw_Av9BVDavORm1W"}}, "schema": {"type": "string"}}], "responses": {"201": {"description": "Created", "content": {"application/vnd.api+json": {"examples": {"Created": {"value": {"data": {"id": "fwasg_0g1mbDwBqLv5B", "type": "firewall_assignments", "attributes": {"server": {"id": "sv_lpbV0DgRq4AWz", "hostname": "Incredible Paper Chair", "primary_ipv4": "248.110.161.199"}, "firewall_id": "fw_Av9BVDavORm1W"}}}}}, "schema": {"$ref": "#/components/schemas/firewall_server"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["firewall_assignments"]}, "attributes": {"type": "object", "properties": {"server_id": {"type": "string"}}, "required": ["server_id"]}}, "required": ["type"]}}, "required": ["data"]}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "firewall_assignments", "attributes": {"server_id": "sv_lpbV0DgRq4AWz"}}}}}}, "application/vnd.api+json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["firewall_assignments"]}, "attributes": {"type": "object", "properties": {"server_id": {"type": "string"}}, "required": ["server_id"]}}, "required": ["type"]}}, "required": ["data"]}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "firewall_assignments", "attributes": {"server_id": "sv_lpbV0DgRq4AWz"}}}}}}}, "required": true}, "x-speakeasy-group": "firewalls.assignments", "x-speakeasy-name-override": "create"}, "get": {"summary": "Firewall Assignments", "operationId": "get-firewall-assignments", "description": "List servers assigned to a firewall", "tags": ["Firewalls"], "security": [{"Bearer": []}], "parameters": [{"name": "firewall_id", "in": "path", "description": "The Firewall ID", "required": true, "examples": {"Success": {"value": "fw_z8Nkvdy1deLpx"}}, "schema": {"type": "string"}}, {"name": "page[size]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 20}, "required": false, "description": "Number of items to return per page"}, {"name": "page[number]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "required": false, "description": "Page number to return (starts at 1)"}], "x-speakeasy-pagination": {"type": "offsetLimit", "inputs": [{"name": "page[number]", "in": "parameters", "type": "page"}, {"name": "page[size]", "in": "parameters", "type": "limit"}], "outputs": {"results": "$.data"}}, "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "fwasg_zGr47qlMDAg0m", "type": "firewall_assignments", "attributes": {"server": {"id": "sv_2695BdKrOevVo", "hostname": "Incredible Silk Watch", "primary_ipv4": "218.124.123.71"}, "firewall_id": "fw_z8Nkvdy1deLpx"}}, {"id": "fwasg_w5AEmq7XDBkWX", "type": "firewall_assignments", "attributes": {"server": {"id": "sv_byQrJdNJd30gv", "hostname": "Durable Cotton Knife", "primary_ipv4": "84.9.159.24"}, "firewall_id": "fw_z8Nkvdy1deLpx"}}]}}}, "schema": {"$ref": "#/components/schemas/firewall_assignments"}}}}}, "x-speakeasy-name-override": "listAssignments"}}, "/firewalls/{firewall_id}/assignments/{assignment_id}": {"delete": {"summary": "Delete Firewall Assignment", "operationId": "delete-firewall-assignment", "description": "Remove a server from a firewall", "tags": ["Firewalls"], "security": [{"Bearer": []}], "parameters": [{"name": "firewall_id", "in": "path", "description": "The Firewall ID", "required": true, "schema": {"type": "string"}}, {"name": "assignment_id", "in": "path", "description": "The Assignment ID", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}}, "x-speakeasy-name-override": "deleteAssignment"}}, "/ips": {"get": {"summary": "List IPs", "operationId": "get-ips", "tags": ["IP Addresses"], "security": [{"Bearer": []}], "parameters": [{"name": "filter[server]", "in": "query", "required": false, "description": "The server ID to filter by", "schema": {"type": "string"}}, {"name": "filter[project]", "in": "query", "required": false, "description": "The project ID or Slug to filter by", "schema": {"type": "string"}}, {"name": "filter[family]", "in": "query", "schema": {"type": "string", "enum": ["IPv4", "IPv6"]}, "required": false, "description": "The protocol family to filter by"}, {"name": "filter[type]", "in": "query", "schema": {"type": "string", "enum": ["private", "public"]}, "required": false, "description": "The protocol type to filter by"}, {"name": "filter[location]", "in": "query", "required": false, "description": "The site slug to filter by", "schema": {"type": "string"}}, {"name": "filter[address]", "in": "query", "required": false, "description": "The address of IP to filter by starts_with", "schema": {"type": "string"}}, {"name": "extra_fields[ip_addresses]", "in": "query", "required": false, "description": "The `region` and `server` are provided as extra attributes that are lazy loaded. To request it, just set `extra_fields[ip_addresses]=region,server` in the query string.", "schema": {"type": "string"}}, {"name": "page[size]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 20}, "required": false, "description": "Number of items to return per page"}, {"name": "page[number]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "required": false, "description": "Page number to return (starts at 1)"}], "description": "List all Management and Additional IP Addresses.\n • Management IPs are IPs that are used for the management IP of a device.\n   This is a public IP address that a device is born and dies with. It never changes during the lifecycle of the device.\n • Additional IPs are individual IPs that can be added to a device as an additional IP that can be used.\n", "x-speakeasy-pagination": {"type": "offsetLimit", "inputs": [{"name": "page[number]", "in": "parameters", "type": "page"}, {"name": "page[size]", "in": "parameters", "type": "limit"}], "outputs": {"results": "$.data"}}, "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "ip_wg3ZDr23D5QlP", "type": "ip_addresses", "attributes": {"address": "112.74.133.123", "cidr": null, "family": "IPv4", "gateway": null, "netmask": "255.255.255.255", "type": "Public", "public": true, "management": true, "project": {"id": "proj_RMLydp20DQKr1", "name": "Intelligent Silk Computer"}, "region": {}, "available": true, "assignment": {}}}, {"id": "ip_k0Ryqvz1qW36X", "type": "ip_addresses", "attributes": {"address": "24.156.198.223", "cidr": null, "family": "IPv4", "gateway": null, "netmask": "255.255.255.255", "type": "Public", "public": true, "management": true, "project": {"id": "proj_RMLydp20DQKr1", "name": "Intelligent Silk Computer"}, "region": {}, "available": true, "assignment": {}}}], "meta": {}}}}, "schema": {"$ref": "#/components/schemas/ip_addresses"}}}}}, "x-speakeasy-group": "ipAddresses", "x-speakeasy-name-override": "list"}}, "/ips/{ip_id}": {"get": {"summary": "Retrieve an IP", "operationId": "get-ip", "tags": ["IP Addresses"], "security": [{"Bearer": []}], "parameters": [{"name": "ip_id", "in": "path", "description": "The IP Address ID", "required": true, "schema": {"type": "string"}}, {"name": "extra_fields[ip_addresses]", "in": "query", "required": false, "description": "The `region` and `server` are provided as extra attributes that are lazy loaded. To request it, just set `extra_fields[ip_addresses]=region,server` in the query string.", "schema": {"type": "string"}}], "description": "Retrieve an IP Address", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"schema": {"$ref": "#/components/schemas/ip_address"}}}}}, "x-speakeasy-group": "ipAddresses", "x-speakeasy-name-override": "get"}}, "/team/members": {"get": {"summary": "List all Team Members", "operationId": "get-team-members", "tags": ["Teams Members"], "security": [{"Bearer": []}], "parameters": [{"name": "page[size]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 20}, "required": false, "description": "Number of items to return per page"}, {"name": "page[number]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "required": false, "description": "Page number to return (starts at 1)"}], "x-speakeasy-pagination": {"type": "offsetLimit", "inputs": [{"name": "page[number]", "in": "parameters", "type": "page"}, {"name": "page[size]", "in": "parameters", "type": "limit"}], "outputs": {"results": "$.data"}}, "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "user_7WJG0pvKZbHlX8reeJ2LTEo8mN7", "type": "users", "attributes": {"first_name": "Jefferson", "last_name": "Fadel", "email": "cora.streich@grimes.test", "mfa_enabled": false, "created_at": "2025-05-22T00:00:00+00:00", "updated_at": "2026-05-20T00:00:00+00:00", "last_login_at": null, "role": {"id": "role_wAE1EEyB3VuRvZWkAK0ZczbVyjG", "name": "owner"}}}, {"id": "user_LXYNaEJnK1fL3YX1k63luNAQw4y", "type": "users", "attributes": {"first_name": "Marcell", "last_name": "Hayes", "email": "irvin_gleichner@conroy.example", "mfa_enabled": false, "created_at": "2025-04-06T00:00:00+00:00", "updated_at": "2026-06-10T00:00:00+00:00", "last_login_at": null, "role": {"id": "role_wAE1EEyB3VuRvZWkAK0ZczbVyjG", "name": "owner"}}}, {"id": "user_LVjjma4pvmULB9A0vK9Zf6kwb3L", "type": "users", "attributes": {"first_name": "Ted", "last_name": "Vandervort", "email": "lenard@stehr.test", "mfa_enabled": false, "created_at": "2024-11-27T00:00:00+00:00", "updated_at": "2026-07-15T00:00:00+00:00", "last_login_at": "2025-01-20T00:00:00+00:00", "role": {"id": "role_RYXj8v8JxaUAP3P20g5gFR80PgmZ", "name": "billing"}}}], "meta": {}}}}, "schema": {"$ref": "#/components/schemas/team_members"}}}}}, "x-speakeasy-group": "teams.members"}, "post": {"summary": "Add a Team Member", "operationId": "post-team-members", "tags": ["Teams Members"], "security": [{"Bearer": []}], "parameters": [], "responses": {"201": {"description": "Created", "content": {"application/vnd.api+json": {"examples": {"Created": {"value": {"data": {"id": "user_pbV0Dgykd4AWz", "type": "memberships", "attributes": {"first_name": "Bernard", "last_name": "Cremin", "email": "ernest@carter-lehner.example", "role": "collaborator", "mfa_enabled": false, "created_at": "2025-07-16T18:36:32+00:00", "updated_at": "2025-07-16T18:36:32+00:00"}}, "meta": {}}}}, "schema": {"$ref": "#/components/schemas/membership"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["memberships"]}, "attributes": {"type": "object", "properties": {"first_name": {"type": "string"}, "last_name": {"type": "string"}, "email": {"type": "string"}, "role": {"type": "string", "enum": ["owner", "administrator", "collaborator", "billing"]}}, "required": ["email", "role"]}}, "required": ["type"]}}, "required": ["data"]}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "teams", "attributes": {"first_name": "Bernard", "last_name": "Cremin", "email": "ernest@carter-lehner.example", "role": "collaborator"}}}}}}, "application/vnd.api+json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["memberships"]}, "attributes": {"type": "object", "properties": {"first_name": {"type": "string"}, "last_name": {"type": "string"}, "email": {"type": "string"}, "role": {"type": "string", "enum": ["owner", "administrator", "collaborator", "billing"]}}, "required": ["email", "role"]}}, "required": ["type"]}}, "required": ["data"]}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "teams", "attributes": {"first_name": "Bernard", "last_name": "Cremin", "email": "ernest@carter-lehner.example", "role": "collaborator"}}}}}}}, "required": true}, "x-speakeasy-group": "teamMembers"}}, "/team/members/{user_id}": {"delete": {"summary": "Remove a Team Member", "operationId": "destroy-team-member", "tags": ["Teams Members"], "parameters": [{"name": "user_id", "in": "path", "description": "The user ID", "required": true, "examples": {"Success": {"value": "user_0MoLqJEYd57pY"}}, "schema": {"type": "string"}}], "security": [{"Bearer": []}], "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"meta": {}}}}}}}}, "x-speakeasy-group": "teamMembers", "x-speakeasy-name-override": "delete"}}, "/plans/operating_systems": {"get": {"summary": "List all operating systems available", "operationId": "get-plans-operating-system", "tags": ["Operating Systems"], "security": [{"Bearer": []}], "description": "Lists all operating systems available to deploy and reinstall.\n", "parameters": [{"name": "page[size]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 20}, "required": false, "description": "Number of items to return per page"}, {"name": "page[number]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "required": false, "description": "Page number to return (starts at 1)"}], "x-speakeasy-pagination": {"type": "offsetLimit", "inputs": [{"name": "page[number]", "in": "parameters", "type": "page"}, {"name": "page[size]", "in": "parameters", "type": "limit"}], "outputs": {"results": "$.data"}}, "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "os_mw49QDB5qagKb", "type": "operating_system", "attributes": {"name": "windows_server_2019_std_v1 72.62", "distro": "rhel", "slug": "rockylinux_8", "version": "72.62", "user": "Carmine", "features": {}, "provisionable_on": ["g3.l40s.large-28", "g3.h100.medium-29"]}}], "meta": {}}}}, "schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/operating_systems"}}}}}}}}, "x-speakeasy-group": "operatingSystems", "x-speakeasy-name-override": "listPlans"}}, "/plans": {"get": {"summary": "List all Plans", "operationId": "get-plans", "tags": ["Plans"], "security": [{"Bearer": []}], "parameters": [{"name": "filter[name]", "in": "query", "required": false, "description": "The plan name to filter by", "schema": {"type": "string"}}, {"name": "filter[slug]", "in": "query", "required": false, "description": "The plan slug to filter by", "schema": {"type": "string"}}, {"name": "filter[location]", "in": "query", "required": false, "description": "The location of the site to filter by", "schema": {"type": "string"}}, {"name": "filter[stock_level]", "in": "query", "schema": {"type": "string", "enum": ["unavailable", "low", "medium", "high", "unique"]}, "required": false, "description": "The stock level at the site to filter by"}, {"name": "filter[in_stock]", "in": "query", "required": false, "description": "The stock available at the site to filter by", "schema": {"type": "boolean"}}, {"name": "filter[gpu]", "in": "query", "required": false, "description": "Filter by the existence of an associated GPU", "schema": {"type": "boolean"}}, {"name": "filter[ram]", "in": "query", "required": false, "description": "The ram size in Gigabytes to filter by, should be used with the following options:\n                              [eql] to filter for values equal to the provided value.\n                              [gte] to filter for values greater or equal to the provided value.\n                              [lte] to filter by values lower or equal to the provided value.", "schema": {"type": "integer"}}, {"name": "filter[disk]", "in": "query", "required": false, "description": "The disk size in Gigabytes to filter by, should be used with the following options:\n                              [eql] to filter for values equal to the provided value.\n                              [gte] to filter for values greater or equal to the provided value.\n                              [lte] to filter by values lower or equal to the provided value.", "schema": {"type": "integer"}}], "description": "Lists all plans. Availability by region is included in `attributes.regions.locations.available[*]` node for a given plan.\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "plan_1Qkm7dXzD8nZV", "type": "plans", "attributes": {"slug": "g3-l40s-medium-31", "name": "g3.l40s.medium-31", "features": [], "specs": {"cpu": {"type": "E-2276G", "clock": 3.8, "cores": 6, "count": 1}, "memory": {"total": 32}, "drives": [{"count": 1, "size": "3.8TB", "type": "SSD"}], "nics": [{"count": 1, "type": "10 Gbps"}], "gpu": {"count": 4, "type": "NVIDIA H100"}}, "regions": [{"name": "Brazil", "deploys_instantly": [], "locations": {"available": ["SAO"], "in_stock": ["SAO"]}, "stock_level": "medium", "pricing": {"USD": {"hour": 10, "month": 50, "year": 100}, "BRL": {"hour": 53, "month": 108.5, "year": 205}}}]}}], "meta": {}}}}, "schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/plan_data"}}}}}}}}, "x-speakeasy-name-override": "list"}}, "/plans/{plan_id}": {"get": {"summary": "Retrieve a Plan", "operationId": "get-plan", "tags": ["Plans"], "security": [{"Bearer": []}], "parameters": [{"name": "plan_id", "in": "path", "required": true, "examples": {"Success": {"value": "plan_m5xyZOnNOWM0l"}}, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"id": "plan_m5xyZOnNOWM0l", "type": "plans", "attributes": {"slug": "g3-l40s-small-32", "name": "g3.l40s.small-32", "features": [], "specs": {"cpu": {"type": "E-2276G", "clock": 3.8, "cores": 6, "count": 1}, "memory": {"total": 32}, "drives": [{"count": 1, "size": "3.8TB", "type": "SSD"}], "nics": [{"count": 1, "type": "10 Gbps"}], "gpu": {"count": 4, "type": "NVIDIA H100"}}, "regions": [{"name": "Brazil", "deploys_instantly": [], "locations": {"available": ["SAO"], "in_stock": ["SAO"]}, "stock_level": "medium", "pricing": {"USD": {"hour": 10, "month": 50, "year": 100}, "BRL": {"hour": 53, "month": 108.5, "year": 205}}}]}}, "meta": {}}}}, "schema": {"$ref": "#/components/schemas/plan"}}}}}, "x-speakeasy-name-override": "get"}}, "/plans/bandwidth": {"get": {"summary": "List all bandwidth plans", "operationId": "get-bandwidth-plans", "tags": ["Plans"], "security": [{"Bearer": []}], "parameters": [{"name": "API-Version", "in": "header", "schema": {"type": "string", "default": "2023-06-01"}, "examples": {"Success": {"value": "2023-06-01"}}}, {"name": "filter[id]", "in": "query", "required": false, "description": "The plan ID to filter by", "schema": {"type": "string"}}, {"name": "page[size]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 20}, "required": false, "description": "Number of items to return per page"}, {"name": "page[number]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "required": false, "description": "Page number to return (starts at 1)"}], "description": "Lists all bandwidth plans.", "x-speakeasy-pagination": {"type": "offsetLimit", "inputs": [{"name": "page[number]", "in": "parameters", "type": "page"}, {"name": "page[size]", "in": "parameters", "type": "limit"}], "outputs": {"results": "$.data"}}, "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "argentina", "type": "bandwidth_plan", "attributes": {"region": "Argentina", "locations": ["ASH", "SAO"], "pricing": {"usd": {"monthly": 8000, "yearly": 0}, "brl": {"monthly": 4000, "yearly": null}}}}], "meta": {}}}}, "schema": {"$ref": "#/components/schemas/bandwidth_plans"}}}}}, "x-speakeasy-name-override": "getBandwidth"}, "post": {"summary": "Buy or remove bandwidth packages", "operationId": "update-plans-bandwidth", "tags": ["Plans"], "security": [{"Bearer": []}], "parameters": [], "description": "Allows to increase or decrease bandwidth packages. Only admins and owners can request.\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"type": "bandwidth_packages", "attributes": {"project": {"id": "proj_z2A3DVZ3DnawP", "name": "Renner-Rodriguez", "slug": "renner-rodriguez"}, "packages": [{"region_slug": "united-states", "unit_price": 0.5, "currency": "USD", "contracted": 10, "total_price": 5}, {"region_slug": "brazil", "unit_price": 4.6, "currency": "USD", "contracted": 0, "total_price": 0}]}}}}}, "schema": {"$ref": "#/components/schemas/bandwidth_packages"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["bandwidth_packages"]}, "attributes": {"type": "object", "properties": {"project": {"type": "string", "description": "The project (ID or Slug) to add bandwidth"}, "quantity": {"type": "integer", "description": "The total amount you want to have"}, "region_slug": {"type": "string", "description": "The region to add bandwidth"}}}}}}}, "examples": {"Success": {"summary": "Success", "value": {"data": {"type": "bandwidth_packages", "attributes": {"project": "proj_z2A3DVZ3DnawP", "region_slug": "brazil", "quantity": 5}}}}}}, "application/vnd.api+json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["bandwidth_packages"]}, "attributes": {"type": "object", "properties": {"project": {"type": "string", "description": "The project (ID or Slug) to add bandwidth"}, "quantity": {"type": "integer", "description": "The total amount you want to have"}, "region_slug": {"type": "string", "description": "The region to add bandwidth"}}}}}}}, "examples": {"Success": {"summary": "Success", "value": {"data": {"type": "bandwidth_packages", "attributes": {"project": "proj_z2A3DVZ3DnawP", "region_slug": "brazil", "quantity": 5}}}}}}}, "required": true}, "x-speakeasy-name-override": "updateBandwidth"}}, "/plans/containers/{plan_id}": {"get": {"summary": "Retrieve container plan", "operationId": "get-containers-plan", "tags": ["Plans"], "security": [{"Bearer": []}], "parameters": [{"name": "plan_id", "in": "path", "description": "The Plan ID", "required": true, "schema": {"type": "string"}}], "description": "Retrieve a container plan.\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"schema": {"$ref": "#/components/schemas/container_plan_data"}}}}}}}, "/plans/storage": {"get": {"summary": "List all Storage Plans", "operationId": "get-storage-plans", "tags": ["Plans"], "security": [{"Bearer": []}], "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "plan_MLGXPdWgdnNWk", "type": "storage_plans", "attributes": {"name": "Filesystem", "regions": [{"name": "United States", "locations": ["DAL"], "pricing": {"USD": {"month": 0.12}, "BRL": {"month": 0.68}}}]}}]}}}, "schema": {"$ref": "#/components/schemas/storage_plans"}}}}}, "x-speakeasy-name-override": "listStorage"}}, "/plans/virtual_machines": {"get": {"summary": "List all Virtual Machines Plans", "operationId": "get-vm-plans", "tags": ["Plans"], "security": [{"Bearer": []}], "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "plan_j0L6WO1QOPlXy", "type": "virtual_machine_plans", "attributes": {"name": "vm.l40s.tiny", "specs": {"memory": 16, "vcpus": 14, "disk": {"type": "local", "size": {"amount": 150, "unit": "gib"}}}, "regions": [{"name": "United States", "available": ["DAL"], "pricing": {"USD": {"hour": 1, "month": 720, "year": 8640}, "BRL": {"hour": 1, "month": 720, "year": 8640}}}], "stock_level": "low"}}]}}}, "schema": {"$ref": "#/components/schemas/virtual_machine_plans"}}}}}, "x-speakeasy-group": "plans.vm", "x-speakeasy-name-override": "list"}}, "/projects": {"get": {"summary": "List all Projects", "operationId": "get-projects", "tags": ["Projects"], "security": [{"Bearer": []}], "parameters": [{"name": "filter[name]", "in": "query", "required": false, "description": "The project name to filter by", "schema": {"type": "string"}}, {"name": "filter[slug]", "in": "query", "required": false, "description": "The project slug to filter by", "schema": {"type": "string"}}, {"name": "filter[description]", "in": "query", "required": false, "description": "The project description to filter by", "schema": {"type": "string"}}, {"name": "filter[billing_type]", "in": "query", "required": false, "description": "The billing type to filter by", "schema": {"type": "string"}}, {"name": "filter[environment]", "in": "query", "required": false, "description": "The environment to filter by", "schema": {"type": "string"}}, {"name": "filter[tags]", "in": "query", "required": false, "description": "The tags ids to filter by, separated by comma, e.g. `filter[tags]=tag_1,tag_2`will return projects with `tag_1` AND `tag_2`", "schema": {"type": "string"}, "examples": {"Success": {"value": "tag_GGXAB6PNQbU285ZYLP3wt3ZQyXW,tag_xR2B8J4W81TBL6YRGPJaCQRkVyn"}}}, {"name": "extra_fields[projects]", "in": "query", "required": false, "description": "The `last_renewal_date` and `next_renewal_date` are provided as extra attributes that show previous and future billing cycle dates. To request it, just set `extra_fields[projects]=last_renewal_date,next_renewal_date` in the query string.", "schema": {"type": "string"}}, {"name": "page[size]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 20}, "required": false, "description": "Number of items to return per page"}, {"name": "page[number]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "required": false, "description": "Page number to return (starts at 1)"}], "description": "Returns a list of all projects for the current team\n", "x-speakeasy-pagination": {"type": "offsetLimit", "inputs": [{"name": "page[number]", "in": "parameters", "type": "page"}, {"name": "page[size]", "in": "parameters", "type": "limit"}], "outputs": {"results": "$.data"}}, "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "proj_lxWpD6xKdm6rk", "type": "projects", "attributes": {"tags": [{"id": "tag_GGXAB6PNQbU285ZYLP3wt3ZQyXW", "name": "tag1", "description": "Nihil ullam dignissimos odio.", "color": "#8ac18a"}, {"id": "tag_xR2B8J4W81TBL6YRGPJaCQRkVyn", "name": "tag2", "description": "Animi aliquid ut praesentium.", "color": "#028888"}], "name": "Durable Steel Computer", "slug": "durable-steel-computer", "description": "Ergonomic Leather Table", "billing_type": "Hourly", "cost": null, "billing_method": "Normal", "bandwidth_alert": false, "environment": null, "provisioning_type": "on_demand", "billing": {}, "team": {"id": "team_RrG7kyBxXrHAeYr47GJ4HpKLQQr", "name": "138 Team", "slug": "138-team", "description": "138 Team", "address": "3417 Thiel Well, Port Omar, OH 21371", "currency": {"id": "cur_AW6Q2D9lqKLpr", "code": "BRL", "name": "Brazilian Real", "currency_id": null}, "status": "verified", "feature_flags": []}, "stats": {"databases": 0, "ip_addresses": 0, "prefixes": 0, "servers": 0, "storages": 0, "virtual_machines": 0, "vlans": 0}, "created_at": "2025-07-16T18:36:34+00:00", "updated_at": "2025-07-16T18:36:34+00:00"}}], "meta": {}}}}, "schema": {"$ref": "#/components/schemas/projects"}}}}}, "x-speakeasy-name-override": "list"}, "post": {"summary": "Create a Project", "operationId": "create-project", "tags": ["Projects"], "security": [{"Bearer": []}], "parameters": [], "responses": {"201": {"description": "Created", "content": {"application/vnd.api+json": {"examples": {"Created": {"value": {"data": {"id": "proj_lkg1De8vqvZE5", "type": "projects", "attributes": {"tags": [], "name": "Kshlerin, Hand and Beer", "slug": "kshlerin-hand-and-beer", "description": "Thick slices of French toast bread, brown sugar, half-and-half and vanilla, topped with powdered sugar. With two eggs served any style, and your choice of smoked bacon or smoked ham.", "bandwidth_alert": null, "environment": "Development", "provisioning_type": "on_demand", "billing_type": "Normal", "billing_method": "Normal", "billing": {"subscription_id": "sub_xb48v35nx0aybq", "type": "Normal", "method": "Normal"}, "team": {"id": "team_GJ5KavgA8es2BK0keG7xu4N9ZlY", "name": "141 Team", "slug": "141-team", "description": "141 Team", "address": "Apt. 307 36420 Randell Hollow, Dungborough, GA 20702", "currency": {"id": "cur_AW6Q2D9lqKLpr", "code": "BRL", "name": "Brazilian Real", "currency_id": null}, "status": "verified", "feature_flags": []}, "stats": {"databases": 0, "ip_addresses": 0, "prefixes": 0, "servers": 0, "storages": 0, "virtual_machines": 0, "vlans": 0}, "created_at": "2025-07-16T18:36:34+00:00", "updated_at": "2025-07-16T18:36:34+00:00"}}, "meta": {}}}}, "schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/project"}}}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["projects"]}, "attributes": {"type": "object", "properties": {"name": {"type": "string", "description": "The project name. Must be unique."}, "provisioning_type": {"type": "string", "description": "The provisioning type of the project. Default: on_demand", "enum": ["reserved", "on_demand"]}, "description": {"type": "string", "description": "The project description."}, "environment": {"type": "string", "enum": ["Development", "Staging", "Production"]}}, "required": ["name", "provisioning_type"]}}, "required": ["type"]}}}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "projects", "attributes": {"name": "Kshlerin, Hand and Beer", "description": "Thick slices of French toast bread, brown sugar, half-and-half and vanilla, topped with powdered sugar. With two eggs served any style, and your choice of smoked bacon or smoked ham.", "environment": "Development", "provisioning_type": "on_demand"}}}}}}, "application/vnd.api+json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["projects"]}, "attributes": {"type": "object", "properties": {"name": {"type": "string", "description": "The project name. Must be unique."}, "provisioning_type": {"type": "string", "description": "The provisioning type of the project. Default: on_demand", "enum": ["reserved", "on_demand"]}, "description": {"type": "string", "description": "The project description."}, "environment": {"type": "string", "enum": ["Development", "Staging", "Production"]}}, "required": ["name", "provisioning_type"]}}, "required": ["type"]}}}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "projects", "attributes": {"name": "Kshlerin, Hand and Beer", "description": "Thick slices of French toast bread, brown sugar, half-and-half and vanilla, topped with powdered sugar. With two eggs served any style, and your choice of smoked bacon or smoked ham.", "environment": "Development", "provisioning_type": "on_demand"}}}}}}}, "required": true}, "x-speakeasy-name-override": "create"}}, "/projects/{project_id}": {"patch": {"summary": "Update a Project", "operationId": "update-project", "tags": ["Projects"], "security": [{"Bearer": []}], "parameters": [{"name": "project_id", "in": "path", "description": "The project ID or Slug", "required": true, "examples": {"Success": {"value": "proj_WVQJDMMwDRbyE"}}, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"id": "proj_WVQJDMMwDRbyE", "type": "projects", "attributes": {"tags": [{"id": "tag_xNrKWa1ZaMtBKwaZnYaMTBE2XQb", "name": "Belladonna Took", "description": "Error excepturi et voluptatum.", "color": "#2424c2"}, {"id": "tag_Ge9E4oboPgILP5e9aKNAUB4Gaw5", "name": "Eglantine Banks", "description": "Totam est sit qui.", "color": "#535341"}], "name": "Moore-Durgan", "slug": "moore-durgan", "description": "Sequi occaecati eaque exercitationem.", "bandwidth_alert": true, "environment": "Production", "provisioning_type": "on_demand", "billing_type": "Normal", "billing_method": "Normal", "billing": {"subscription_id": "sub_gn4j87r9d8dt8s", "type": "Normal", "method": "Normal"}, "team": {"id": "team_eP8xa4KJl8t3GmjwLw4JfEKMXyr5", "name": "160 Team", "slug": "160-team", "description": "160 Team", "address": "68937 Leopoldo Greens, New Columbusmouth, NC 91874", "currency": {"id": "cur_AW6Q2D9lqKLpr", "code": "BRL", "name": "Brazilian Real", "currency_id": null}, "status": "verified", "feature_flags": []}, "stats": {"databases": 0, "ip_addresses": 0, "prefixes": 0, "servers": 0, "storages": 0, "virtual_machines": 0, "vlans": 0}, "created_at": "2025-07-16T18:36:35+00:00", "updated_at": "2025-07-16T18:36:35+00:00"}}, "meta": {}}}}, "schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/project"}}}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"id": {"type": "string", "default": "proj_81EVOtR1N4J2Z"}, "type": {"type": "string", "enum": ["projects"]}, "attributes": {"type": "object", "properties": {"name": {"type": "string", "default": "A brand new name for the virtual network"}, "description": {"type": "string", "default": "A brand new description for the virtual network"}, "environment": {"type": "string", "enum": ["Development", "Staging", "Production"]}, "bandwidth_alert": {"type": "boolean", "default": false}, "tags": {"type": "array", "items": {"type": "string"}, "default": []}}}}, "required": ["id", "type"]}}, "required": ["data"]}, "examples": {"Success": {"summary": "Success", "value": {"data": {"id": "proj_WVQJDMMwDRbyE", "type": "projects", "attributes": {"tags": ["tag_xNrKWa1ZaMtBKwaZnYaMTBE2XQb", "tag_Ge9E4oboPgILP5e9aKNAUB4Gaw5"]}}}}}}, "application/vnd.api+json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"id": {"type": "string", "default": "proj_81EVOtR1N4J2Z"}, "type": {"type": "string", "enum": ["projects"]}, "attributes": {"type": "object", "properties": {"name": {"type": "string", "default": "A brand new name for the virtual network"}, "description": {"type": "string", "default": "A brand new description for the virtual network"}, "environment": {"type": "string", "enum": ["Development", "Staging", "Production"]}, "bandwidth_alert": {"type": "boolean", "default": false}, "tags": {"type": "array", "items": {"type": "string"}, "default": []}}}}, "required": ["id", "type"]}}, "required": ["data"]}, "examples": {"Success": {"summary": "Success", "value": {"data": {"id": "proj_WVQJDMMwDRbyE", "type": "projects", "attributes": {"tags": ["tag_xNrKWa1ZaMtBKwaZnYaMTBE2XQb", "tag_Ge9E4oboPgILP5e9aKNAUB4Gaw5"]}}}}}}}}, "x-speakeasy-name-override": "update"}, "delete": {"summary": "Delete a Project", "operationId": "delete-project", "tags": ["Projects"], "security": [{"Bearer": []}], "parameters": [{"name": "project_id", "in": "path", "description": "The project ID or Slug", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}}, "x-speakeasy-name-override": "delete"}}, "/projects/{project_id}/ssh_keys": {"get": {"summary": "List all Project SSH Keys", "operationId": "get-project-ssh-keys", "tags": ["SSH Keys"], "deprecated": true, "security": [{"Bearer": []}], "parameters": [{"name": "project_id", "in": "path", "description": "Project ID or Slug", "required": true, "examples": {"Success": {"value": "proj_LMmAD8kEqwop2"}}, "schema": {"type": "string"}}, {"name": "filter[tags]", "in": "query", "required": false, "description": "The tags ids to filter by, separated by comma, e.g. `filter[tags]=tag_1,tag_2`will return ssh keys with `tag_1` AND `tag_2`", "examples": {"Success": {"value": "tag_K9kzXA45BEsjobKPNVEQCrrKbw4o,tag_my9K5XGPYBIr1ve257anIW4KRX2e"}}, "schema": {"type": "string"}}], "description": "List all SSH Keys in the project. These keys can be used to access servers after deploy and reinstall actions.\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "ssh_mw49QDB5qagKb", "type": "ssh_keys", "attributes": {"tags": [], "name": "carroll-hane.test", "public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCjM7C3yylR7PMGQONLP64DvcopzCCgHT0jbfeX5cjja/SohEHEkFnS3MzRn9EBuZH1AKzVU25PlPuMmq3LZeyyOE9GQ087dF4SnRGgNWw8KL0W+HxdONq40MVjivT1luswFp61Vkty5zSpEvT9t7ZtZ9iV4QcCHCGZP2rf0YMEaT+FkPr5eIiwkfyONaMQn5Sr6+kCfwZbwTD7oM9MPWCu+Nazo62TA/Dyb6gj5+izINy4ynWO7YFnwcxGgT/sn+mznlopEEq4vay0air9wulcCM8eE/N3QyB86o/DebEYFUT85RXMtAocSNeehduyEVNNg9NbP1vXWX6/SWpOT71/", "fingerprint": "d1:77:d0:81:ab:b6:bb:7d:a1:2d:07:41:fb:f4:5d:c7", "created_at": "2025-07-16T18:36:36+00:00", "updated_at": "2025-07-16T18:36:36+00:00", "user": {"id": "user_e2r1zkAyagSNz191p4NnI5MgreM", "first_name": "Isela", "last_name": "Altenwerth", "email": "dorathy@corkery-bode.test", "created_at": "2025-01-19T00:00:00.000Z", "updated_at": "2025-04-30T00:00:00.000Z", "role": {"id": "role_VjzZGYNr4AFb4zPwoXxVH6vk4xmZ", "name": "owner", "created_at": "2024-09-30T00:00:00.000Z", "updated_at": "2025-12-08T00:00:00.000Z"}}}}], "meta": {}}}}, "schema": {"$ref": "#/components/schemas/ssh_keys"}}}}}, "x-speakeasy-name-override": "list"}, "post": {"summary": "Create a Project SSH Key", "operationId": "post-project-ssh-key", "tags": ["SSH Keys"], "deprecated": true, "security": [{"Bearer": []}], "parameters": [{"name": "project_id", "in": "path", "required": true, "description": "Project ID or Slug", "examples": {"Created": {"value": "proj_RMLydp70OQKr1"}}, "schema": {"type": "string"}}], "description": "Allow you create SSH Keys in a project. These keys can be used to access servers after deploy and reinstall actions.\n", "responses": {"201": {"description": "Created", "content": {"application/vnd.api+json": {"examples": {"Created": {"value": {"data": {"id": "ssh_w5AEmq7XDBkWX", "type": "ssh_keys", "attributes": {"tags": [], "name": "SSH Key", "public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDOLFnjGP3Jsh1usHNS2EILgfqZNC9pOvNqBZqxH+qNAdZdQCzy2csMuiq+ZwLA8Mm4Vo5CvSgBHs/kuZRUKyTl+79YUMZIj8PhHzL4XbdqX1ZnAIklHWcJaveB0+UXLEPKGzFIFq+FkuwtiXQsVe5NnSpIDYgpzhqEs38NsnXvsubKphGUdARDhaxvMdUUl4YsAtLHKMzSyIvE6xwfTtIVwA9bZt/8GoBzrn9px9PEcf25Rgd2NhOYs3WYcZuwvRmfcFdi2vGhVqTPqL9n16R/n5jknxHYrTyqWNxJdpdvg2YqXpN7vnFNoOjYFD6EahJ0pF/+WL4tPCIkLfoaVaSx", "fingerprint": "0a:00:34:53:51:0e:a5:4e:06:2c:d7:16:88:96:82:f3", "created_at": "2025-07-16T18:36:37+00:00", "updated_at": "2025-07-16T18:36:37+00:00", "user": {"id": "user_VQNWk4maWktbnyBZr13YF6v7YvPo", "first_name": "Dino", "last_name": "Huels", "email": "jaye@fahey.test", "created_at": "2024-08-23T00:00:00.000Z", "updated_at": "2024-07-24T00:00:00.000Z", "role": {"id": "role_J6VmkZN3A5sLkXJeNrvJfykwnmW", "name": "owner", "created_at": "2025-04-29T00:00:00.000Z", "updated_at": "2026-06-29T00:00:00.000Z"}}}}, "meta": {}}}}, "schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/ssh_key_data"}}}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["ssh_keys"]}, "attributes": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the SSH Key"}, "public_key": {"type": "string", "description": "SSH Public Key"}}}}, "required": ["type"]}}, "required": ["data"]}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "ssh_keys", "attributes": {"name": "SSH Key", "public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDOLFnjGP3Jsh1usHNS2EILgfqZNC9pOvNqBZqxH+qNAdZdQCzy2csMuiq+ZwLA8Mm4Vo5CvSgBHs/kuZRUKyTl+79YUMZIj8PhHzL4XbdqX1ZnAIklHWcJaveB0+UXLEPKGzFIFq+FkuwtiXQsVe5NnSpIDYgpzhqEs38NsnXvsubKphGUdARDhaxvMdUUl4YsAtLHKMzSyIvE6xwfTtIVwA9bZt/8GoBzrn9px9PEcf25Rgd2NhOYs3WYcZuwvRmfcFdi2vGhVqTPqL9n16R/n5jknxHYrTyqWNxJdpdvg2YqXpN7vnFNoOjYFD6EahJ0pF/+WL4tPCIkLfoaVaSx"}}}}}}, "application/vnd.api+json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["ssh_keys"]}, "attributes": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the SSH Key"}, "public_key": {"type": "string", "description": "SSH Public Key"}}}}, "required": ["type"]}}, "required": ["data"]}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "ssh_keys", "attributes": {"name": "SSH Key", "public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDOLFnjGP3Jsh1usHNS2EILgfqZNC9pOvNqBZqxH+qNAdZdQCzy2csMuiq+ZwLA8Mm4Vo5CvSgBHs/kuZRUKyTl+79YUMZIj8PhHzL4XbdqX1ZnAIklHWcJaveB0+UXLEPKGzFIFq+FkuwtiXQsVe5NnSpIDYgpzhqEs38NsnXvsubKphGUdARDhaxvMdUUl4YsAtLHKMzSyIvE6xwfTtIVwA9bZt/8GoBzrn9px9PEcf25Rgd2NhOYs3WYcZuwvRmfcFdi2vGhVqTPqL9n16R/n5jknxHYrTyqWNxJdpdvg2YqXpN7vnFNoOjYFD6EahJ0pF/+WL4tPCIkLfoaVaSx"}}}}}}}, "required": true}, "x-speakeasy-group": "projects.sshKeys"}}, "/projects/{project_id}/ssh_keys/{ssh_key_id}": {"get": {"summary": "Retrieve a Project SSH Key", "operationId": "get-project-ssh-key", "tags": ["SSH Keys"], "deprecated": true, "security": [{"Bearer": []}], "parameters": [{"name": "project_id", "in": "path", "required": true, "description": "Project ID or Slug", "examples": {"Success": {"value": "proj_g1mbDwrBqLv5B"}}, "schema": {"type": "string"}}, {"name": "ssh_key_id", "in": "path", "required": true, "examples": {"Success": {"value": "ssh_zGr47qlMDAg0m"}}, "schema": {"type": "string"}}], "description": "List all SSH Keys in the project. These keys can be used to access servers after deploy and reinstall actions.\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"id": "ssh_zGr47qlMDAg0m", "type": "ssh_keys", "attributes": {"tags": [], "name": "ryan.test", "public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDL1aEqz3fu3mSqIUFUmN2ZoNjlqcWOZpHqBA89atzwag1epA/VhcaeCCkMHOKc6lEyaM45dcBMpnRxp8MyyOWDdvHe2aZ2g3zh8CnPUZZlIdGOj/JbzfF6gfmVbVPUor/hJUvCgW8DqFYU++BwlowDSXv6g0IWraY+9NhH+7Fy+eWX/Axdryb7vr/pnwMwYC693nI8FfRjUTxJft7/HG4Hf0Frp4inI8571z5EhrdjhXFaAU9W76qw2YhHUx54cFZXcL1LzIIjhU6BjKVNOxl7xY2AUnC0bnU19N1gALo0IyVSjQz+o10qgsubDkA0CXnmczmU8FbJs3pajdly2smn", "fingerprint": "7f:f1:16:b1:af:23:3e:7d:91:29:3d:58:ab:ab:99:07", "created_at": "2025-07-16T18:36:37+00:00", "updated_at": "2025-07-16T18:36:37+00:00", "user": {"id": "user_86BjYvaogPsKnQYbLPMmtXmvk70X", "first_name": "Levi", "last_name": "White", "email": "tamela.parker@christiansen-damore.test", "created_at": "2024-10-25T00:00:00.000Z", "updated_at": "2025-05-19T00:00:00.000Z", "role": {"id": "role_JaWoMlVWw5fMx0BVbX6YcAAQj9Y", "name": "owner", "created_at": "2025-06-12T00:00:00.000Z", "updated_at": "2026-02-14T00:00:00.000Z"}}}}, "meta": {}}}}, "schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/ssh_key_data"}}}}}}}, "x-speakeasy-group": "sshKeys", "x-speakeasy-name-override": "get"}, "patch": {"summary": "Update a Project SSH Key", "operationId": "put-project-ssh-key", "deprecated": true, "tags": ["SSH Keys"], "security": [{"Bearer": []}], "parameters": [{"name": "project_id", "in": "path", "required": true, "description": "Project ID or Slug", "examples": {"Success": {"value": "proj_W6Q2D9lGqKLpr"}}, "schema": {"type": "string"}}, {"name": "ssh_key_id", "in": "path", "required": true, "examples": {"Success": {"value": "ssh_zlkg1DegdvZE5"}}, "schema": {"type": "string"}}], "description": "Allow you update SSH Key in a project. These keys can be used to access servers after deploy and reinstall actions.\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"id": "ssh_zlkg1DegdvZE5", "type": "ssh_keys", "attributes": {"tags": [{"id": "tag_7YpWMjKZ8vujwmEV7blQhG87aaB", "name": "Hugo Boffin", "description": "Sit sed atque rerum.", "color": "#f75050"}, {"id": "tag_E8ZoPkZPXXsgN2L46WVvTeWog1rz", "name": "Amrod", "description": "Eum molestiae consectetur repellendus.", "color": "#82ed82"}], "name": "quitzon-hahn.example", "public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDIPUwSU0uUOOHaiRgNvchWwbE1mMsLIXiMhsWu2HYCCskWhI87AIGGhesf8iqv/L61ZR4xSY2vpS+Ydj9m6DAIcbw4SrwCCbzYlSnJC8A3DNplfH8Yv3w1moJkryIu0Y1OPFstvr4UKLQKBzNPR5cjKKmJPX34BrmubNhRCOi9MR33UZAn+ek7Y6soHx+ftGNfLQTNCRa9l1pWk+zcaw3f1rIgrgCxRJZUxsfhAvhrH6gMQ52J4YPTwNYXiDz183lCXQ7ttCraTZOkt9Wrjes9GpAWdyAb54/YxB9C3a5Yuekd3affxWf5qS6iPH2cH4WqD85cCiAHWgP50QDy0Jzx", "fingerprint": "0a:d4:d1:f6:4a:b9:eb:d9:fc:b1:7f:3d:b1:7d:78:94", "created_at": "2025-07-16T18:36:39+00:00", "updated_at": "2025-07-16T18:36:39+00:00", "user": {"id": "user_9LywwYp44LHZ8aarom8ziRm9MJw", "first_name": "Tennie", "last_name": "Cremin", "email": "antone.ward@streich.example", "created_at": "2024-09-10T00:00:00.000Z", "updated_at": "2024-12-12T00:00:00.000Z", "role": {"id": "role_wJZBnlQNwyhXGWEnZZGosBzP2VM", "name": "owner", "created_at": "2025-04-05T00:00:00.000Z", "updated_at": "2026-03-06T00:00:00.000Z"}}}}, "meta": {}}}}, "schema": {"type": "object", "properties": {"data": {"$ref": "#/components/schemas/ssh_key_data"}}}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"id": {"type": "string", "default": "ssh_81EVOtR1N4J2Z"}, "type": {"type": "string", "enum": ["ssh_keys"]}, "attributes": {"type": "object", "properties": {"tags": {"type": "array", "items": {"type": "string"}, "default": []}, "name": {"type": "string", "description": "Name of the SSH Key", "default": "New SSH Key Name"}}}}, "required": ["id", "type"]}}, "required": ["data"]}, "examples": {"Success": {"summary": "Success", "value": {"data": {"id": "ssh_zlkg1DegdvZE5", "type": "ssh_keys", "attributes": {"tags": ["tag_7YpWMjKZ8vujwmEV7blQhG87aaB", "tag_E8ZoPkZPXXsgN2L46WVvTeWog1rz"]}}}}}}, "application/vnd.api+json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"id": {"type": "string", "default": "ssh_81EVOtR1N4J2Z"}, "type": {"type": "string", "enum": ["ssh_keys"]}, "attributes": {"type": "object", "properties": {"tags": {"type": "array", "items": {"type": "string"}, "default": []}, "name": {"type": "string", "description": "Name of the SSH Key", "default": "New SSH Key Name"}}}}, "required": ["id", "type"]}}, "required": ["data"]}, "examples": {"Success": {"summary": "Success", "value": {"data": {"id": "ssh_zlkg1DegdvZE5", "type": "ssh_keys", "attributes": {"tags": ["tag_7YpWMjKZ8vujwmEV7blQhG87aaB", "tag_E8ZoPkZPXXsgN2L46WVvTeWog1rz"]}}}}}}}, "required": true}, "x-speakeasy-group": "sshKeys", "x-speakeasy-name-override": "modifyProjectKey"}, "delete": {"summary": "Delete a Project SSH Key", "operationId": "delete-project-ssh-key", "tags": ["SSH Keys"], "deprecated": true, "security": [{"Bearer": []}], "parameters": [{"name": "project_id", "in": "path", "required": true, "description": "Project ID or Slug", "examples": {"Success": {"value": "proj_LMmAD8k4qwop2"}}, "schema": {"type": "string"}}, {"name": "ssh_key_id", "in": "path", "required": true, "examples": {"Success": {"value": "ssh_7vYAZqGBdMQ94"}}, "schema": {"type": "string"}}], "description": "Allow you remove SSH Keys in a project. Remove a SSH Key from the project won't revoke the SSH Keys access for previously deploy and reinstall actions.\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"meta": {}}}}}}}}, "x-speakeasy-group": "sshKeys", "x-speakeasy-name-override": "removeFromProject"}}, "/projects/{project_id}/user_data": {"get": {"summary": "List all Project User Data", "operationId": "get-project-users-data", "tags": ["User Data"], "deprecated": true, "security": [{"Bearer": []}], "parameters": [{"name": "project_id", "in": "path", "required": true, "description": "Project ID or Slug", "examples": {"Success": {"value": "proj_RMLydp7XOQKr1"}}, "schema": {"type": "string"}}, {"name": "extra_fields[user_data]", "in": "query", "schema": {"type": "string", "default": "decoded_content"}, "description": "The `decoded_content` is provided as an extra attribute that shows content in decoded form.", "examples": {"Success": {"value": "decoded_content"}}}], "description": "List all Users Data in the project. These scripts can be used to configure servers with user data.\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "ud_AW6Q2D9lqKLpr", "type": "user_data", "attributes": {"description": "28-day aged 300g USDA Certified Prime Ribeye, rosemary-thyme garlic butter, with choice of two sides.", "content": "QnJlYWRlZCBmcmllZCBjaGlja2VuIHdpdGggd2FmZmxlcy4gU2VydmVkIHdpdGggbWFwbGUgc3lydXAu", "created_at": "2025-07-16T18:36:39+00:00", "updated_at": "2025-07-16T18:36:39+00:00", "decoded_content": "Breaded fried chicken with waffles. Served with maple syrup."}}], "meta": {}}}}, "schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/user_data"}}}}}}}}}, "post": {"summary": "Create a Project User Data", "operationId": "post-project-user-data", "deprecated": true, "tags": ["User Data"], "security": [{"Bearer": []}], "parameters": [{"name": "project_id", "in": "path", "required": true, "description": "Project ID or Slug", "examples": {"Created": {"value": "proj_kjQwdE0XOYNVP"}}, "schema": {"type": "string"}}], "description": "Allows you to create User Data in a project, which can be used to perform custom setup on your servers after deploy and reinstall.\n", "responses": {"201": {"description": "Created", "content": {"application/vnd.api+json": {"examples": {"Created": {"value": {"data": {"id": "ud_pRMLydp0dQKr1", "type": "user_data", "attributes": {"description": "User Data description", "content": "I2Nsb3VkLWNvbmZpZwpydW5jbWQ6CiAtIFsgdG91Y2gsICAvaG9tZS91YnVudHUvdGVzdCBd", "created_at": "2025-07-16T18:36:39+00:00", "updated_at": "2025-07-16T18:36:39+00:00", "decoded_content": "#cloud-config\nruncmd:\n - [ touch,  /home/ubuntu/test ]"}}, "meta": {}}}}, "schema": {"$ref": "#/components/schemas/user_data"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["user_data"]}, "attributes": {"type": "object", "properties": {"description": {"type": "string", "description": "description of the User Data"}, "content": {"type": "string", "description": "base64 encoded content of the User Data"}}, "required": ["content", "description"]}}, "required": ["type"]}}, "required": ["data"]}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "user_data", "attributes": {"content": "I2Nsb3VkLWNvbmZpZwpydW5jbWQ6CiAtIFsgdG91Y2gsICAvaG9tZS91YnVudHUvdGVzdCBd", "description": "User Data description"}}}}}}, "application/vnd.api+json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["user_data"]}, "attributes": {"type": "object", "properties": {"description": {"type": "string", "description": "description of the User Data"}, "content": {"type": "string", "description": "base64 encoded content of the User Data"}}, "required": ["content", "description"]}}, "required": ["type"]}}, "required": ["data"]}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "user_data", "attributes": {"content": "I2Nsb3VkLWNvbmZpZwpydW5jbWQ6CiAtIFsgdG91Y2gsICAvaG9tZS91YnVudHUvdGVzdCBd", "description": "User Data description"}}}}}}}, "required": true}, "x-speakeasy-group": "userData", "x-speakeasy-name-override": "create"}}, "/projects/{project_id}/user_data/{user_data_id}": {"get": {"summary": "Retrieve a Project User Data", "operationId": "get-project-user-data", "deprecated": true, "tags": ["User Data"], "security": [{"Bearer": []}], "parameters": [{"name": "project_id", "in": "path", "required": true, "description": "Project ID or Slug", "examples": {"Success": {"value": "proj_Gr47qlevDAg0m"}}, "schema": {"type": "string"}}, {"name": "user_data_id", "in": "path", "required": true, "examples": {"Success": {"value": "ud_VLMmAD8EOwop2"}}, "schema": {"type": "string"}}, {"name": "extra_fields[user_data]", "in": "query", "schema": {"type": "string", "default": "decoded_content"}, "description": "The `decoded_content` is provided as an extra attribute that shows content in decoded form.", "examples": {"Success": {"value": "decoded_content"}}}], "description": "Get User Data in the project. These scripts can be used to configure servers with user data.\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"id": "ud_VLMmAD8EOwop2", "type": "user_data", "attributes": {"description": "Breaded fried chicken with waffles, and a side of maple syrup.", "content": "VHdvIGJ1dHRlciBjcm9pc3NhbnRzIG9mIHlvdXIgY2hvaWNlIChwbGFpbiwgYWxtb25kIG9yIGNoZWVzZSkuIFdpdGggYSBzaWRlIG9mIGhlcmIgYnV0dGVyIG9yIGhvdXNlLW1hZGUgaGF6ZWxudXQgc3ByZWFkLg==", "created_at": "2025-07-16T18:36:39+00:00", "updated_at": "2025-07-16T18:36:39+00:00", "decoded_content": "Two butter croissants of your choice (plain, almond or cheese). With a side of herb butter or house-made hazelnut spread."}}, "meta": {}}}}, "schema": {"$ref": "#/components/schemas/user_data"}}}}}}, "patch": {"summary": "Update a Project User Data", "operationId": "put-project-user-data", "tags": ["User Data"], "deprecated": true, "security": [{"Bearer": []}], "parameters": [{"name": "project_id", "in": "path", "required": true, "description": "Project ID or Slug", "schema": {"type": "string"}}, {"name": "user_data_id", "in": "path", "required": true, "schema": {"type": "string"}}], "description": "Allow you update User Data in a project.\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"schema": {"$ref": "#/components/schemas/user_data"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"id": {"type": "string"}, "type": {"type": "string", "enum": ["user_data"]}, "attributes": {"type": "object", "properties": {"description": {"type": "string", "description": "description dummy user data"}, "content": {"type": "string", "description": "encoded content of the User Data"}}}}, "required": ["id", "type"]}}, "required": ["data"]}}, "application/vnd.api+json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"id": {"type": "string"}, "type": {"type": "string", "enum": ["user_data"]}, "attributes": {"type": "object", "properties": {"description": {"type": "string", "description": "description dummy user data"}, "content": {"type": "string", "description": "encoded content of the User Data"}}}}, "required": ["id", "type"]}}, "required": ["data"]}}}}, "x-speakeasy-group": "userData", "x-speakeasy-name-override": "updateForProject"}, "delete": {"summary": "Delete a Project User Data", "operationId": "delete-project-user-data", "tags": ["User Data"], "security": [{"Bearer": []}], "deprecated": true, "parameters": [{"name": "project_id", "in": "path", "required": true, "description": "Project ID or Slug", "schema": {"type": "string"}}, {"name": "user_data_id", "in": "path", "required": true, "schema": {"type": "string"}}], "description": "Allow you remove User Data in a project.\n", "responses": {"204": {"description": "No Content"}}}}, "/regions": {"get": {"summary": "List all Regions", "operationId": "get-regions", "tags": ["Regions"], "security": [{"Bearer": []}], "description": "Lists all [available locations](https://latitude.sh/locations). For server availability by location, please see the [Plans API](/reference/get-plans).\n\n", "parameters": [{"name": "page[size]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 20}, "required": false, "description": "Number of items to return per page"}, {"name": "page[number]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "required": false, "description": "Page number to return (starts at 1)"}], "x-speakeasy-pagination": {"type": "offsetLimit", "inputs": [{"name": "page[number]", "in": "parameters", "type": "page"}, {"name": "page[size]", "in": "parameters", "type": "limit"}], "outputs": {"results": "$.data"}}, "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "loc_k0RyqvNvqW36X", "type": "regions", "attributes": {"name": "Mraz, Pagac and Murazik", "slug": "mraz,-pagac-and-murazik", "facility": "Mraz, Pagac and Murazik", "country": {"name": "Wintheiser, Kreiger and Parisian", "slug": "wintheiser,-kreiger-and-parisian"}, "type": "core"}}], "meta": {}}}}, "schema": {"$ref": "#/components/schemas/regions"}}}}}, "x-speakeasy-name-override": "get"}}, "/regions/{region_id}": {"get": {"summary": "Retrieve a Region", "operationId": "get-region", "tags": ["Regions"], "security": [{"Bearer": []}], "parameters": [{"name": "region_id", "in": "path", "description": "The region region_ID", "required": true, "examples": {"Success": {"value": "reg_GMy1DbYLqN50m"}}, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"id": "loc_WVQJDMQlDRbyE", "type": "regions", "attributes": {"name": "MacGyver-Tremblay", "slug": "macgyver-tremblay", "facility": "MacGyver-Tremblay", "country": {"name": "Breitenberg, Kirlin and Doyle", "slug": "breitenberg,-kirlin-and-doyle"}, "type": "core"}}, "meta": {}}}}, "schema": {"$ref": "#/components/schemas/region"}}}}}, "x-speakeasy-name-override": "fetch"}}, "/roles": {"get": {"summary": "List all Roles", "operationId": "get-roles", "tags": ["Roles"], "security": [{"Bearer": []}], "description": "Returns a list of all roles that can be assigned to users\n", "parameters": [{"name": "page[size]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 20}, "required": false, "description": "Number of items to return per page"}, {"name": "page[number]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "required": false, "description": "Page number to return (starts at 1)"}], "x-speakeasy-pagination": {"type": "offsetLimit", "inputs": [{"name": "page[number]", "in": "parameters", "type": "page"}, {"name": "page[size]", "in": "parameters", "type": "limit"}], "outputs": {"results": "$.data"}}, "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "role_0L6WO1vEdPlXy", "type": "roles", "attributes": {"name": "collaborator"}}], "meta": {}}}}, "schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/role_data"}}}}}}}}, "x-speakeasy-name-override": "list"}}, "/roles/{role_id}": {"get": {"summary": "Retrieve Role", "operationId": "get-role-id", "tags": ["Roles"], "security": [{"Bearer": []}], "parameters": [{"name": "role_id", "in": "path", "required": true, "examples": {"Success": {"value": "role_LMmAD8vldwop2"}}, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"id": "role_LMmAD8vldwop2", "type": "roles", "attributes": {"name": "billing"}}, "meta": {}}}}, "schema": {"$ref": "#/components/schemas/role"}}}}}, "x-speakeasy-name-override": "get"}}, "/servers": {"get": {"summary": "List all Servers", "operationId": "get-servers", "tags": ["Servers"], "parameters": [{"name": "filter[project]", "in": "query", "required": false, "description": "The project ID or Slug to filter by", "schema": {"type": "string"}}, {"name": "filter[region]", "in": "query", "required": false, "description": "The region Slug to filter by", "schema": {"type": "string"}}, {"name": "filter[hostname]", "in": "query", "required": false, "description": "The hostname of server to filter by", "schema": {"type": "string"}}, {"name": "filter[created_at_gte]", "in": "query", "required": false, "description": "The created at greater than equal date to filter by", "schema": {"type": "string"}}, {"name": "filter[created_at_lte]", "in": "query", "required": false, "description": "The created at less than equal date to filter by", "schema": {"type": "string"}}, {"name": "filter[label]", "in": "query", "required": false, "description": "The label of server to filter by", "schema": {"type": "string"}}, {"name": "filter[status]", "in": "query", "required": false, "description": "The status of server to filter by", "schema": {"type": "string"}}, {"name": "filter[plan]", "in": "query", "required": false, "description": "The platform/plan name of the server to filter by", "schema": {"type": "string"}}, {"name": "filter[gpu]", "in": "query", "required": false, "description": "Filter by the existence of an associated GPU", "schema": {"type": "boolean"}}, {"name": "filter[ram][eql]", "in": "query", "required": false, "description": "Filter servers with RAM size (in GB) equals the provided value.", "schema": {"type": "integer"}}, {"name": "filter[ram][gte]", "in": "query", "required": false, "description": "Filter servers with RAM size (in GB) greater than or equal the provided value.", "schema": {"type": "integer"}}, {"name": "filter[ram][lte]", "in": "query", "required": false, "description": "Filter servers with RAM size (in GB) less than or equal the provided value.", "schema": {"type": "integer"}}, {"name": "filter[disk]", "in": "query", "required": false, "description": "The disk size in Gigabytes to filter by, should be used with the following options:\n                              [eql] to filter for values equal to the provided value.\n                              [gte] to filter for values greater than or equal to the provided value.\n                              [lte] to filter by values lower than or equal to the provided value.", "schema": {"type": "integer"}}, {"name": "filter[tags]", "in": "query", "required": false, "description": "The tags IDs to filter by, separated by comma, e.g. `filter[tags]=tag_1,tag_2`will return servers with `tag_1` AND `tag_2`", "examples": {"Success": {"value": "tag_Az0EY3zglei3jVBY1LroSWNyanye,tag_GXK6NGol1jF2xre0JrB0fK6wg0p"}}, "schema": {"type": "string"}}, {"name": "extra_fields[servers]", "in": "query", "required": false, "description": "The `credentials` are provided as extra attributes that are lazy loaded. To request it, just set `extra_fields[servers]=credentials` in the query string.", "schema": {"type": "string"}}, {"name": "page[size]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 20}, "required": false, "description": "Number of items to return per page"}, {"name": "page[number]", "in": "query", "schema": {"type": "integer", "minimum": 1, "default": 1}, "required": false, "description": "Page number to return (starts at 1)"}], "security": [{"Bearer": []}], "description": "Returns a list of all servers belonging to the team.\n", "x-speakeasy-pagination": {"type": "offsetLimit", "inputs": [{"name": "page[number]", "in": "parameters", "type": "page"}, {"name": "page[size]", "in": "parameters", "type": "limit"}], "outputs": {"results": "$.data"}}, "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": [{"id": "sv_lxWpD6xKdm6rk", "type": "servers", "attributes": {"tags": [{"id": "tag_Az0EY3zglei3jVBY1LroSWNyanye", "name": "tag1", "description": "Rerum harum saepe eum.", "color": "#e4e7e7"}, {"id": "tag_GXK6NGol1jF2xre0JrB0fK6wg0p", "name": "tag2", "description": "Facere atque voluptatum iste.", "color": "#939595"}], "hostname": "Hostname", "label": "474495NODEMC", "price": 599, "role": "Bare Metal", "primary_ipv4": "204.198.2.102", "primary_ipv6": "941c:f42a:460b:db1e:bde3:f7d4:c0cd:fd66", "status": "on", "ipmi_status": "Normal", "created_at": null, "scheduled_deletion_at": null, "locked": false, "rescue_allowed": false, "region": {"city": "São Paulo", "country": "United States", "site": {"id": "loc_RMLydp20DQKr1", "name": "São Paulo", "slug": "SAO", "facility": "São Paulo", "rack_id": "rack_VLMmAD8EOwop2"}}, "team": {"id": "team_JrVbpk7aNltMLVVPwmWkfyZb5Q1", "name": "254 Team", "slug": "254-team", "description": "254 Team", "address": "95005 Krajcik Trace, Rennerview, DE 88944", "currency": {"id": "cur_AW6Q2D9lqKLpr", "code": "BRL", "name": "Brazilian Real", "currency_id": null}, "status": "verified", "feature_flags": []}, "project": {"id": "proj_8NkvdyMKdeLpx", "name": "Incredible Bronze Bench", "slug": "incredible-bronze-bench", "description": "Practical Silk Gloves", "provisioning_type": "on_demand", "billing_type": "Normal", "billing_method": "Normal", "bandwidth_alert": false, "environment": null, "billing": {}, "stats": {"databases": 1, "ip_addresses": 8, "prefixes": 0, "servers": 3, "storages": 0, "virtual_machines": 0, "vlans": 0}}, "plan": {"id": "plan_g1mbDw8BOLv5B", "name": "g3.h100.large-38", "slug": "plan-slug", "billing": "hourly"}, "interfaces": [{"role": "ipmi", "name": "IPMI", "mac_address": "00:11:22:33:44:55", "description": "IPMI Interface"}, {"role": "internal", "name": "PXE", "mac_address": "66:77:88:99:aa:bb", "description": "PXE Interface"}], "operating_system": {"name": "Ubuntu (18.04 x64 LTS)", "slug": "ubuntu_18_04_x64_lts", "version": "18.04 x64 LTS", "features": {"raid": true, "ssh_keys": true}, "distro": {"name": "Ubuntu", "slug": "ubuntu", "series": "bionic"}}, "specs": {"cpu": "Xeon E-2186G CPU @ 3.80GHz (6 cores)", "disk": "500 GB SSD", "ram": "32 GB", "nic": "", "gpu": null}}}], "meta": {}}}}, "schema": {"$ref": "#/components/schemas/servers"}}}}}, "x-speakeasy-name-override": "list"}, "post": {"summary": "Deploy Server", "operationId": "create-server", "tags": ["Servers"], "security": [{"Bearer": []}], "parameters": [], "responses": {"201": {"description": "Created", "content": {"application/vnd.api+json": {"examples": {"Created": {"value": {"data": {"type": "servers", "id": "sv_KXgRdRyoOv9k5", "attributes": {"hostname": "BRC1", "label": "868155NODEVO", "role": "Bare Metal", "status": "off", "primary_ipv4": "29.227.250.123", "primary_ipv6": "f5:1442:770b:d762:7b55:1583:8420:630b", "specs": {"cpu": "Xeon E-2186G CPU @ 3.80GHz (6 cores)", "disk": "500 GB SSD", "ram": "32 GB", "nic": ""}, "plan": {"id": "plan_VE1Wd3aXDXnZJ", "name": "c2.small.x86", "slug": "c2-small-x86", "billing": "hourly"}, "interfaces": [{"role": "ipmi", "name": "IPMI", "mac_address": "00:11:22:33:44:55", "description": "IPMI Interface"}, {"role": "internal", "name": "PXE", "mac_address": "66:77:88:99:aa:bb", "description": "PXE Interface"}]}}, "meta": {}}}}, "schema": {"$ref": "#/components/schemas/server"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["servers"]}, "attributes": {"type": "object", "properties": {"project": {"type": "string", "description": "The project (ID or Slug) to deploy the server"}, "plan": {"type": "string", "description": "The plan slug to choose server from, defining the specs the server will have", "enum": ["c2-large-x86", "c2-medium-x86", "c2-small-x86", "c3-large-x86", "c3-medium-x86", "c3-small-x86", "c3-xlarge-x86", "g3-large-x86", "g3-medium-x86", "g3-small-x86", "g3-xlarge-x86", "m3-large-x86", "s2-small-x86", "s3-large-x86"]}, "site": {"type": "string", "description": "The site slug to deploy the server", "enum": ["ASH", "BGT", "BUE", "CHI", "DAL", "FRA", "LAX", "LON", "MEX", "MEX2", "MIA", "MIA2", "NYC", "SAN", "SAO", "SAO2", "SYD", "TYO", "TYO2"]}, "operating_system": {"type": "string", "description": "The operating system slug for the new server", "enum": ["ipxe", "windows_server_2019_std_v1", "ubuntu_22_04_x64_lts", "debian_11", "debian_10", "rhel8", "windows_server_2012_r2_std_v28", "windows_server_2012_r2_dc_v5", "esxi_6_7", "debian_9_4_x64", "centos_7_4_x64", "centos_8_x64", "ubuntu_16_04_x64_lts", "ubuntu_20_04_x64_lts", "windows_server_2016_std_v1", "windows_server_2016_dc_v1", "windows_server_2019_dc_v1", "debian_12", "ubuntu22_ml_in_a_box", "ubuntu_18_04_x64_lts", "windows_server_2019_std_uefi", "windows_2022_std_uefi", "windows_2022_std", "ubuntu_24_04_x64_lts", "rockylinux_8"]}, "hostname": {"type": "string", "description": "The server hostname"}, "ssh_keys": {"type": "array", "items": {"type": "string"}, "description": "SSH Keys to set on the server", "x-nullable": true}, "user_data": {"type": "string", "description": "User data ID to set on the server. This is a custom script that will run after the deploy", "x-nullable": true}, "raid": {"type": "string", "description": "RAID mode for the server", "enum": ["raid-0", "raid-1"], "x-nullable": true}, "ipxe": {"type": "string", "description": "URL where iPXE script is stored on, OR the iPXE script encoded in base64. This attribute is required when iPXE is selected as operating system.", "x-nullable": true}, "billing": {"type": "string", "enum": ["hourly", "monthly", "yearly"], "description": "The server billing type. Accepts `hourly` and `monthly` for on demand projects and `yearly` for reserved projects.", "x-nullable": true}}}}, "required": ["type"]}}}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "servers", "attributes": {"project": "proj_A05EdQ50dvKYQ", "plan": "c2-small-x86", "site": "ASH", "operating_system": "ubuntu_22_04_x64_lts", "hostname": "BRC1"}}}}}}, "application/vnd.api+json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"type": {"type": "string", "enum": ["servers"]}, "attributes": {"type": "object", "properties": {"project": {"type": "string", "description": "The project (ID or Slug) to deploy the server"}, "plan": {"type": "string", "description": "The plan slug to choose server from, defining the specs the server will have", "enum": ["c2-large-x86", "c2-medium-x86", "c2-small-x86", "c3-large-x86", "c3-medium-x86", "c3-small-x86", "c3-xlarge-x86", "g3-large-x86", "g3-medium-x86", "g3-small-x86", "g3-xlarge-x86", "m3-large-x86", "s2-small-x86", "s3-large-x86"]}, "site": {"type": "string", "description": "The site slug to deploy the server", "enum": ["ASH", "BGT", "BUE", "CHI", "DAL", "FRA", "LAX", "LON", "MEX", "MEX2", "MIA", "MIA2", "NYC", "SAN", "SAO", "SAO2", "SYD", "TYO", "TYO2"]}, "operating_system": {"type": "string", "description": "The operating system slug for the new server", "enum": ["ipxe", "windows_server_2019_std_v1", "ubuntu_22_04_x64_lts", "debian_11", "debian_10", "rhel8", "windows_server_2012_r2_std_v28", "windows_server_2012_r2_dc_v5", "esxi_6_7", "debian_9_4_x64", "centos_7_4_x64", "centos_8_x64", "ubuntu_16_04_x64_lts", "ubuntu_20_04_x64_lts", "windows_server_2016_std_v1", "windows_server_2016_dc_v1", "windows_server_2019_dc_v1", "debian_12", "ubuntu22_ml_in_a_box", "ubuntu_18_04_x64_lts", "windows_server_2019_std_uefi", "windows_2022_std_uefi", "windows_2022_std", "ubuntu_24_04_x64_lts", "rockylinux_8"]}, "hostname": {"type": "string", "description": "The server hostname"}, "ssh_keys": {"type": "array", "items": {"type": "string"}, "description": "SSH Keys to set on the server", "x-nullable": true}, "user_data": {"type": "string", "description": "User data ID to set on the server. This is a custom script that will run after the deploy", "x-nullable": true}, "raid": {"type": "string", "description": "RAID mode for the server", "enum": ["raid-0", "raid-1"], "x-nullable": true}, "ipxe": {"type": "string", "description": "URL where iPXE script is stored on, OR the iPXE script encoded in base64. This attribute is required when iPXE is selected as operating system.", "x-nullable": true}, "billing": {"type": "string", "enum": ["hourly", "monthly", "yearly"], "description": "The server billing type. Accepts `hourly` and `monthly` for on demand projects and `yearly` for reserved projects.", "x-nullable": true}}}}, "required": ["type"]}}}, "examples": {"Created": {"summary": "Created", "value": {"data": {"type": "servers", "attributes": {"project": "proj_A05EdQ50dvKYQ", "plan": "c2-small-x86", "site": "ASH", "operating_system": "ubuntu_22_04_x64_lts", "hostname": "BRC1"}}}}}}}, "required": true}, "x-speakeasy-name-override": "create"}}, "/servers/{server_id}": {"get": {"summary": "Retrieve a Server", "operationId": "get-server", "tags": ["Servers"], "security": [{"Bearer": []}], "parameters": [{"name": "server_id", "in": "path", "description": "The Server ID", "required": true, "examples": {"Success": {"value": "sv_Gr47qleMDAg0m"}}, "schema": {"type": "string"}}, {"name": "extra_fields[servers]", "in": "query", "required": false, "description": "The `credentials` are provided as extra attributes that is lazy loaded. To request it, just set `extra_fields[servers]=credentials` in the query string.", "schema": {"type": "string"}}], "description": "Returns a server that belongs to the team.\n", "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"id": "sv_Gr47qleMDAg0m", "type": "servers", "attributes": {"tags": [], "hostname": "Hostname", "label": "203126NODEEM", "price": 599, "role": "Bare Metal", "primary_ipv4": "171.105.213.73", "primary_ipv6": "539e:7347:6e9a:c432:bb5a:87b4:2ce1:4566", "status": "on", "ipmi_status": "Normal", "created_at": null, "scheduled_deletion_at": null, "locked": false, "rescue_allowed": false, "region": {"city": "São Paulo", "country": "Mexico", "site": {"id": "loc_A05EdQL1OvKYQ", "name": "São Paulo", "slug": "SAO", "facility": "São Paulo", "rack_id": "rack_6VE1Wd37dXnZJ"}}, "team": {"id": "team_8mKNxlmL2McYo7Jz87KlCXynmenj", "name": "270 Team", "slug": "270-team", "description": "270 Team", "address": "Apt. 279 839 Boehm Street, South Randall, OH 69160", "currency": {"id": "cur_AW6Q2D9lqKLpr", "code": "BRL", "name": "Brazilian Real", "currency_id": null}, "status": "verified", "feature_flags": []}, "project": {"id": "proj_KXgRdRyoOv9k5", "name": "Rustic Silk Knife", "slug": "rustic-silk-knife", "description": "Heavy Duty Concrete Keyboard", "provisioning_type": "on_demand", "billing_type": "Normal", "billing_method": "Normal", "bandwidth_alert": false, "environment": null, "billing": {}, "stats": {"databases": 0, "ip_addresses": 2, "prefixes": 0, "servers": 1, "storages": 0, "virtual_machines": 0, "vlans": 0}}, "plan": {"id": "plan_aNmodj4eDbE8W", "name": "c2.large.arm", "slug": "c2-large-arm", "billing": "hourly"}, "interfaces": [{"role": "ipmi", "name": "IPMI", "mac_address": "00:11:22:33:44:55", "description": "IPMI Interface"}, {"role": "internal", "name": "PXE", "mac_address": "66:77:88:99:aa:bb", "description": "PXE Interface"}], "operating_system": {"name": "Ubuntu (18.04 x64 LTS)", "slug": "ubuntu_18_04_x64_lts", "version": "18.04 x64 LTS", "features": {"raid": true, "ssh_keys": true}, "distro": {"name": "Ubuntu", "slug": "ubuntu", "series": "bionic"}}, "specs": {"cpu": "", "disk": "", "ram": "", "nic": "", "gpu": null}}}, "meta": {}}}}, "schema": {"$ref": "#/components/schemas/server"}}}}}, "x-speakeasy-name-override": "get"}, "patch": {"summary": "Update Server", "operationId": "update-server", "tags": ["Servers"], "security": [{"Bearer": []}], "parameters": [{"name": "server_id", "in": "path", "required": true, "examples": {"Success": {"value": "sv_aNmodjGyqbE8W"}}, "schema": {"type": "string"}}], "responses": {"200": {"description": "Success", "content": {"application/vnd.api+json": {"examples": {"Success": {"value": {"data": {"id": "sv_aNmodjGyqbE8W", "type": "servers", "attributes": {"tags": [], "hostname": "Enormous Copper Hat", "label": "318187NODEHH", "price": 599, "role": "Bare Metal", "primary_ipv4": "130.50.220.233", "primary_ipv6": "cb26:be3e:ec79:5115:c6d5:d41b:b4f4:9593", "status": "unknown", "ipmi_status": "Normal", "created_at": null, "scheduled_deletion_at": null, "locked": false, "rescue_allowed": false, "region": {"city": "Frankfurt", "country": "Germany", "site": {"id": "loc_w49QDBa5qagKb", "name": "Frankfurt", "slug": "FRA", "facility": "Frankfurt", "rack_id": "rack_byQrJdNJd30gv"}}, "team": {"id": "team_8yZmmmBZ5kuKeepJEE5JFaykBrr", "name": "310 Team", "slug": "310-team", "description": "310 Team", "address": "Apt. 492 6356 Hyatt Mountains, Skilesville, TN 12908-1951", "currency": {"id": "cur_e8pKq015DWAob", "code": "ziy", "name": "zqqoluypkfiezetqkngf", "currency_id": null}, "status": "verified", "feature_flags": []}, "project": {"id": "proj_aNmodjoyqbE8W", "name": "Practical Plastic Lamp", "slug": "practical-plastic-lamp", "description": "Ergonomic Leather Hat", "provisioning_type": "on_demand", "billing_type": "Normal", "billing_method": "Normal", "bandwidth_alert": false, "environment": null, "billing": {}, "stats": {"databases": 0, "ip_addresses": 0, "prefixes": 0, "servers": 1, "storages": 0, "virtual_machines": 0, "vlans": 0}}, "plan": {"id": "plan_k0Ryqvz1qW36X", "name": "c2.large.arm", "slug": "c2-large-arm", "billing": "hourly"}, "interfaces": [], "operating_system": {}, "specs": {"cpu": "", "disk": "", "ram": "", "nic": "", "gpu": null}}}, "meta": {}}}}, "schema": {"$ref": "#/components/schemas/server"}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "object", "properties": {"id": {"type": "string", "default": "sv_81EVOtR1N4J2Z"}, "type": {"type": "string", "enum": ["servers"]}, "attributes": {"type": "object", "properties": {"hostname": {"type": "string", "default": "new-hostname"}, "billing": {"type": "string", "x-nullable": true, "description": "The server billing type. Accepts `hourly` and `monthly` for on demand projects and `yearly` for reserved projects.", "enum": ["hourly", "monthly", "yearly"]}, "tags": {"type": "array", "items": {"type": "string"}, "x-nullable": true, "default": [], "description": "List of Tag IDs"},
[...]
